<div>
  <div class="card-header  bg-warning text-for-warning" style="font-size:large">
    Add New FollowUp Request Detail
  </div>
  <div class="card-body bg-white">
    <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
    <div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>

    <form [formGroup]="myForm">
      <fieldset [disabled]="submitted">

        <app-follow-up-events
        [followUpRequestId]="'1010'"
        >
        </app-follow-up-events>



        <div class="controls">
          <app-member-selector
                               [memberTypeLabel]="'Assigned-to'"
                               (onSelectedRoleId)="onSelectedRoleId($event)"
                               (onSelectedMemberId)="onSelectedMemberId($event)">
          </app-member-selector>
        </div>

        <div class="form-group">
          <div class="controls">
            <label for="statusSelector">Follow-Up Status:</label>
            <select formControlName="statusSelector" class="form-control input-sm"
                    [(ngModel)]=followUpEvent.requestStatusId>
              <option *ngFor="let status of followUpStatuses" [value]="status.value">{{status.label}}</option>
            </select>
            <app-display-errors control="statusSelector" class="red" [errors]="{
              'required': 'Request Status is required'
              }"></app-display-errors>
          </div>

          <div class="controls">
            <label for="comments_English">Comments (English or Spanish)</label>
            <textarea id="comments_English" #success formControlName="comments_English"
                      [(ngModel)]="followUpEvent.comments_English"
                      type="text"
                      class="form-control input-sm"
                      placeholder="">
              </textarea>
          </div>

          <!-- <div class="controls">
            <label for="comments_Spanish">Comments (Spanish)</label>
            <textarea id="comments_Spanish" #success formControlName="comments_Spanish"
                      [(ngModel)]="followUpEvent.comments_Spanish"
                      type="text"
                      class="form-control input-sm"
                      placeholder="">
              </textarea>
          </div> -->
        </div>
        <div class="form-group">
          <div class="col-md-6 col-md-offset-1">
            <span>
              <button class="btn btn-primary"
                      style="width:80px;margin-right:10px"
                      (click)="onSubmit()">
                Submit
              </button>
            </span>&nbsp;
            <span>
              <button type="button"
                      class="btn btn-default"
                      style="width:75px"
                      (click)="onCancel()">
                Cancel
              </button>
            </span>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>