<div class="card bg-primary">
  <div class="card-header text-white" data-cy="status-this-month" style="font-size: large">
    <span>Grade Status for This Month</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </div>

  <div class="card-body bg-white">
    <span *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</span>
    <span *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</span>

    <!-- <div>

      <label for="yearSelector">&nbsp;As Of Year/Month:</label>
      <select name="yearSelector"
              [(ngModel)]="selectedYear"
              (change)="setSelectedYear($event.target.value)"
              disabled=true>
        <option *ngFor="let year of years" [value]="year.value">{{year.label}}</option>
      </select>
      <select name="monthSelector"
              [(ngModel)]="selectedMonth"
              (change)="setSelectedMonth($event.target.value)"
              disabled=true>
        <option value="0">[Select]</option>
        <option *ngFor="let month of months" [value]="month.value">{{month.label}}</option>
      </select>
    </div> -->
    <div [ngSwitch]="isLoading">
      <div *ngSwitchCase="true" class="text-center col-md-4 col-md-offset-4">
        <app-loading-container> </app-loading-container>
      </div>
      <div *ngSwitchCase="false">
        <table class="table-sm table-striped">
          <thead>
            <tr>
              <!--<td>Id</td>-->
              <th></th>
              <th app-sortable-column="studentName" sort-direction="asc" (onSortColumn)="onSortColumn($event)">
                Student
              </th>
              <th app-sortable-column="gradesTurnedInStatus" (onSortColumn)="onSortColumn($event)">Turned-In Status</th>
              <th app-sortable-column="gradePointAvgStatus" (onSortColumn)="onSortColumn($event)">GPA Status</th>
              <th app-sortable-column="univ" (onSortColumn)="onSortColumn($event)">Univ</th>
              <!-- <th app-sortable-column="academicYear" (onSortColumn)="onSortColumn($event)">YearType</th> -->
              <th app-sortable-column="gradeMonths" (onSortColumn)="onSortColumn($event)">Grade Months</th>
              <!-- <th app-sortable-column="year" (onSortColumn)="onSortColumn($event)">Year</th> -->
              <!-- <th app-sortable-column="periodNumber" (onSortColumn)="onSortColumn($event)">Period</th> -->
              <th app-sortable-column="gradesGivenDate" (onSortColumn)="onSortColumn($event)">Grades Given By</th>
              <th app-sortable-column="gradesDueDate" (onSortColumn)="onSortColumn($event)">Grades Due</th>
              <th app-sortable-column="gradesTurnedInDate" (onSortColumn)="onSortColumn($event)">Grades Turned In</th>
              <th app-sortable-column="gradePointAvg" (onSortColumn)="onSortColumn($event)">GPA</th>
              <th app-sortable-column="exception" (onSortColumn)="onSortColumn($event)">Exception</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of gradesGivenEntryDTOs; let i = index">
              <td>
                {{ i + 1 }}
              </td>

              <td (click)="gotoStudent(entry.studentGUId, entry.studentName)" class="link">
                {{ entry.studentName }}
              </td>
              <td>
                {{ entry.gradesTurnedInStatus }}
              </td>
              <td>
                {{ entry.gradePointAvgStatus }}
              </td>
              <td>
                {{ entry.univ }}
              </td>
              <!-- <td>
                {{  entry.academicYear }}
              </td> -->
              <td>
                {{ entry.gradeMonths }}
              </td>
              <!-- <td>
                {{ entry.year }}
              </td> -->
              <!-- <td>
                {{ entry.periodNumber }}
              </td> -->
              <td>
                {{ entry.gradesGivenDate | truncateDate }}
              </td>
              <td>
                {{ entry.gradesDueDate | truncateDate }}
              </td>
              <td>
                {{ entry.gradesTurnedInDate | truncateDate }}
              </td>
              <td>
                {{ entry.gradePointAvg }}
              </td>
              <td>
                {{ entry.becaApproved }}
              </td>
              <td>
                {{ entry.exception | emptyStatus }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  l
</div>
