<div class="panel panel-primary">
  <div class="panel-heading" style="font-size:large">
    Add New FollowUp Request
  </div>
  <div class="panel-body">
    <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
    <div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>

    <form [formGroup]="myForm">
      <fieldset [disabled]="submitted">

        <div class="form-group">
          <div class="controls">
            <app-student-selector
            (onSelectedStudentId)="onSelectedStudentId($event)"
            >
            </app-student-selector>
          </div>



          <div class="controls">
            <app-member-selector
            (onSelectedRoleId)="onSelectedRoleId($event)"
            (onSelectedMemberId)="onSelectedMemberId($event)"
            >
            </app-member-selector>
          </div>



          <!-- <div class="controls">
            <label for="requestStatusSelector">Follow-Up Status:</label>
            <select formControlName="requestStatusSelector" class="form-control input-sm"
                    [(ngModel)]="followUpRequest.requestStatusId">
              <option *ngFor="let status of requestStatuses" [value]="status.value">{{status.label}}</option>
            </select>
            <app-display-errors control="requestStatusSelector" class="red" [errors]="{
              'required': 'Summary Status is required'
            }"></app-display-errors>
          </div> -->
          <div class="controls">
              <label for="target_date">Target Date</label>
              <input id="target_date" #success formControlName="target_date"
                       [(ngModel)]="followUpRequest.targetDate"
                        type="text"
                        class="form-control input-sm"
                        placeholder="Date Required (or none)"/>

            </div>

          <div class="controls">
            <label for="description_English">Description (English)</label>
            <input id="description_English" #success formControlName="description_English"
                     [(ngModel)]="followUpRequest.description_English"
                      type="text"
                      class="form-control input-sm"
                      placeholder="Brief Description of Request"/>

          </div>
          <div class="controls">
            <label for="description_Spanish">Description (Spanish)</label>
            <input id="description_Spanish" #success formControlName="description_Spanish"
                     [(ngModel)]="followUpRequest.description_Spanish"
                      type="text"
                      class="form-control input-sm"
                      placeholder="Description in brief"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-6 col-md-offset-1">
            <span>
              <button class="btn btn-primary"
                      style="width:80px;margin-right:10px"
                      (click)="onSubmit()">
                Save
              </button>
            </span>&nbsp;
            <span>
              <button type="button"
                      class="btn btn-default"
                      style="width:70px"
                      (click)="onCancel()">
                Cancel
              </button>
              <div class="red">All fields must be filled in before
                saving.</div>
            </span>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>