<div class="panel panel-primary">
  <div class="panel-heading" style="font-size:large">
    Add New FollowUp Request
  </div>
  <div class="panel-body">
    <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
    <div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>

    <form [formGroup]="myForm">
      <fieldset [disabled]="submitted">

        <div class="form-group">


          <div class="controls">
            <app-member-selector
            [memberTypeLabel] = "Requestor"
            (onSelectedRoleId)="onSelectedRoleId($event)"
            (onSelectedMemberId)="onSelectedMemberId($event)"
            >
            </app-member-selector>
          </div>

          <div class="controls">
              <label>Target Date</label>
              <input #success formControlName="targetDate"
                        [(ngModel)]= "followUpRequest.targetDate"
                        type="text"
                        class="form-control input-sm"
                        placeholder="Date Required (or none)"/>

            </div>

          <div class="controls">
            <label>Description (English)</label>
            <input #success formControlName="description_English"
                     [(ngModel)]="followUpRequest.description_English"
                      type="text"
                      class="form-control input-sm"
                      placeholder="Brief Description of Request"/>

          </div>
          <div class="controls">
            <label>Description (Spanish)</label>
            <input #success formControlName="description_Spanish"
                     [(ngModel)]="followUpRequest.description_Spanish"
                      type="text"
                      class="form-control input-sm"
                      placeholder="Description in brief"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-6 col-md-offset-1">
            <span>
              <button class="btn btn-primary"
                      style="width:80px;margin-right:10px"
                      (click)="onSubmit()">
                Submit
              </button>
            </span>&nbsp;
            <span>
              <button type="button"
                      class="btn btn-default"
                      style="width:70px"
                      (click)="onCancel()">
                Cancel
              </button>
            </span>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>