  <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
  <div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>
  <div [ngSwitch]="isLoading">
    <div *ngSwitchCase="true" class="text-center col-md-4 col-md-offset-4">
      <loading-container>
      </loading-container>
    </div>
    <div *ngSwitchCase="false">

    <form [formGroup]="profileForm" class="form-horizontal" >

        <div class="form-group">
          <div class="controls">
            <label for="inputStudentFName">Nombre</label>
            <input id="inputStudentFName"
                  formControlName="inputStudentFName"
                  [(ngModel)]="student.firstNames"
                  class="form-control input-sm" type="text" placeholder="First Name"
                  maxlength="30"/>
            <app-display-errors control="inputStudentFName" class="red"
              [errors]="{
                'required': 'First name is required',
                'maxlength': 'Student First name cannot exceed 30 characters in length.'
              }"></app-display-errors>
          </div>
        </div>

        <div class="form-group">
          <div class="controls">
            <label for="inputStudentLName">Appellido</label>
            <input id="inputStudentLName"
                   formControlName="inputStudentLName"
                   [(ngModel)]="student.lastNames"
                   type="text" class="form-control input-sm" placeholder="Last Name"
                   maxlength="30"/>
            <app-display-errors control="inputStudentLName" class="red"
              [errors]="{
                'required': 'Last name is required',
                'maxlength': 'Student Last name cannot exceed 30 characters in length.'
              }"></app-display-errors>
          </div>
        </div>

        <div class="form-group" >
          <div class="controls">
            <label for="inputStudentPhone">Celular</label>
            <input id="inputStudentPhone"
                  formControlName="inputStudentPhone"
                  [(ngModel)]="student.cellPhone"
                  type="text" class="form-control input-sm" placeholder="Cell Phone: ###-###-####"
                  required maxlength="13" minlength="7"/>
            <app-display-errors control="inputStudentPhone" class="red"
              [errors]="{
                'required': 'Cell Phone is required.',
                'minlength': 'Cell Phone must be at least 7 characters in length.',
                'maxlength': 'Cell Phone cannot exceed 13 characters in length.'
              }"></app-display-errors>
          </div>
        </div>

        <div class="form-group">
          <div class="controls">
          <label for="EnglishLevelSelector">Nivel de inglés:</label>
          <select formControlName="EnglishLevelSelector"
                  class="form-control input-sm"
              [(ngModel)]="student.englishSkillLevelId" >
            <option *ngFor="let status of statuses" [value]="status.statusId">{{status.label}}</option>
          </select>
            <app-display-errors control="EnglishLevelSelector" class="red"
              [errors]="{
                'required': 'English Skill Level is required'
              }"></app-display-errors>
          </div>
        </div>

        <div class="form-group">
          <div class="controls">
            <button class="btn btn-default"
            (click)="saveProfile()"
            [disabled]="!profileForm.valid">
            Save
            </button>
            <span class="red" [hidden]="profileForm.valid">All required fields must be filled in before saving.</span>
          </div>
        </div>
    </form>
    </div>
  </div>


