<div class="row">
  <div class="col-12">
    <app-student-header-mentors>
    </app-student-header-mentors>
  </div>
</div>
<div class="row">
  <div class="col">
    <ngb-tabset>

      <ngb-tab title="Mentor Reports">
        <ng-template ngbTabContent>
          <app-mentor-reports>
          </app-mentor-reports>
        </ng-template>
      </ngb-tab>

      <ngb-tab title="Quarterly Self-Reports">
        <ng-template ngbTabContent>
          <student-self-report-container showOnlyIfStatusIsSent="true">
          </student-self-report-container>
        </ng-template>
      </ngb-tab>

      <!-- <ngb-tab title="Assistence/Asistencia">
        <ng-template ngbTabContent>
          <app-follow-up-requests>
          </app-follow-up-requests>
        </ng-template>
      </ngb-tab> -->


    </ngb-tabset>
  </div>
</div>