<div class="row">
  <div class="col-12">
    <app-student-header-mentors>
    </app-student-header-mentors>
  </div>
</div>
<div class="row">
  <div class="col">
    <nav ngbNav #nav1="ngbNav" class="nav-tabs">
      <ng-container ngbNavItem>
        <a ngbNavLink>Monthly Mentor Reports</a>
        <ng-template ngbNavContent>
          <app-mentor-reports>
          </app-mentor-reports>
        </ng-template>
      </ng-container>

      <ng-container ngbNavItem>
        <a ngbNavLink>Quarterly Student Reports</a>
        <ng-template ngbNavContent>
          <student-self-report-container showOnlyIfStatusIsSent="true">
          </student-self-report-container>
        </ng-template>
      </ng-container>
    </nav>
    <div [ngbNavOutlet]="nav1" class="mt-2"></div>
  </div>
</div>