<div class="row">
  <div class="col-12">
    <app-student-header-quarterly>
    </app-student-header-quarterly>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card bg-primary">
      <div class="card-header text-white">
        <span style="font-size:large">
          Quarterly Report Components
        </span>
        <span style="margin-left:10rem">
          Report Year/Month:
          <select name="yearSelector" [(ngModel)]="selectedYear" (change)="setSelectedYear($event.target.value)">>
            <option *ngFor="let year of years" [value]="year.value">{{year.label}}</option>
          </select>
          <select name="periodSelector" [(ngModel)]="selectedPeriod" (change)="setSelectedPeriod($event.target.value)">
            <option value="0">[Select]</option>
            <option *ngFor="let period of periods" [value]="period.value">{{period.label}}</option>
          </select>
        </span>
      </div>
      <div class="card-body bg-white">


        <ngb-tabset>

          <ngb-tab title="Student Reports">
            <ng-template ngbTabContent>
              <app-self-reports [bEditable]="true" [selectedYear]="selectedYear" [selectedPeriod]="selectedPeriod">
              </app-self-reports>
            </ng-template>
          </ngb-tab>

          <ngb-tab title="Mentor Reports">
            <ng-template ngbTabContent>
              <app-mr-consolidated [bEditable]="true" [selectedYear]="selectedYear" [selectedPeriod]="selectedPeriod">
              </app-mr-consolidated>
            </ng-template>
          </ngb-tab>

          <ngb-tab title="JA Comments">
            <ng-template ngbTabContent>
              <app-ja-comments [bEditable]="true" [selectedYear]="selectedYear" [selectedPeriod]="selectedPeriod">
              </app-ja-comments>
            </ng-template>
          </ngb-tab>

          <ngb-tab title="Private Notes">
            <ng-template ngbTabContent>
              <app-private-notes [bEditable]="true" [selectedYear]="selectedYear" [selectedPeriod]="selectedPeriod">
              </app-private-notes>
            </ng-template>
          </ngb-tab>

        </ngb-tabset>
      </div>
    </div>
  </div>
</div>