.report-row
{
  padding: 4px;
}

th[app-sortable-column] {
  text-align: left;
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

.up-arrow:before {
content: "^&nbsp;";
}

.down-arrow:after {
  content: "v&nbsp;&nbsp;";
}
