<div class="card-body bg-white">
  <div class="row"></div>
  <table class="table-sm table-striped">
    <thead>
      <tr>
        <!-- <th>ID</th> -->
        <th>Request Date</th>
        <th>Request Status</th>
        <th>Student</th>
        <th>Requested By</th>
        <!-- <th>Assigned To</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of followUpRequests; let i = index">

          <!-- <td>
            {{ 'id' + request.followUpRequestId }}
          </td> -->
          <td>
            {{ request.createDateTime | truncateDate }}
          </td>
          <td>
            {{ request.requestStatus }}
          </td>
          <td>
            {{ request.studentName }}
          </td>
          <td>
            {{ request.requesterName }}
          </td>
          <td>
            <!-- {{ request.assignedTo }}
          </td> -->
          <td>
            {{ request.subject_English }}
          </td>
          <td>
            <div class="row" style="border-bottom: 2px solid #ccc; margin-top: 1px">
              <div class="padded"></div>
              <div class="col-md-10">
                {{ request.updateHistory_English }}
              </div>
              <div class="col-md-10">
                {{ request.updateHistory_Spanish }}
              </div>
            </div>
          </td>
      </tr>
    </tbody>
  </table>


</div>
