<div class="card-body bg-white">
  <div class="row">
  <table class="table-sm">
    <thead>
      <tr>
        <!-- <th>ID</th> -->
        <th></th>
        <th>SubStatus</th>
        <th>Assigned To</th>
        <th>Student</th>
        <th>Subject</th>
        <th>Requested By</th>
        <th>Updated By</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of followUpRequests; let i = index" [ngClass]="{'table-info':request.followUpRequestId==currentRequestId}">
        <td>
          <span
            class="btn btn-primary"
            (click)="editFollowUpRequest(request.followUpRequestId)"
            style="margin-left: 5px"
          >
          Edit
            <!--  {{ 'id' + request.followUpRequestId }} -->
          </span>
        </td>
        <td>
          {{ request.requestSubStatus }}
        </td>
        <td>
          {{ request.assignedToName }}
        </td>
        <td>
          {{ request.studentName }}
        </td>
        <td>
          {{ request.subject_English }}<br />
          {{ request.subject_Spanish }}
        </td>
        <td>
          {{ request.requesterName }} <br />
          {{ request.createDateTime | truncateDate }}
        </td>
        <td>
          {{ request.updaterName }} <br />
          {{ request.lastUpdateDateTime | truncateDate }}
        </td>
        <td>
          <span *ngIf="request.followUpRequestId==currentRequestId"
            class="link"
            (click)="clearSelectedRow()"
            style="margin-left: 1px"
           >
           Hide&lt;&lt;
          </span>
          <span *ngIf="request.followUpRequestId!=currentRequestId"
           class="link"
           (click)="setSelectedRow(request.followUpRequestId)"
           style="margin-left: 1px"
          >
           Show>>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <table>

  <tbody *ngIf="currentRequestId">
     <tr><td><b>Details for Selected Row:</b></td></tr>
      <tr class="table-info" style="width:100%;margin-top: 3px;"*ngFor="let request2 of followUpRequests; let j = index">

            <td style="width:50%" *ngIf="request2.followUpRequestId==currentRequestId">
              <div>
             English Text:<br /> {{ request2.updateHistory_English }}
            </div>
            </td>
            <td style="width:50%" *ngIf="request2.followUpRequestId==currentRequestId">
              <div>
             Texto Español:<br /> {{ request2.updateHistory_Spanish }}
             </div>
            </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
