<div class="col">
  <div class="row">

    <nav ngbNav #nav1="ngbNav" class="nav-tabs">
      <ng-container ngbNavItem>
        <a ngbNavLink>Student Profile</a>
        <ng-template ngbNavContent>
          <app-admins-student-student-profile>
          </app-admins-student-student-profile>
        </ng-template>
      </ng-container>

      <ng-container ngbNavItem>
        <a ngbNavLink>Student Summary</a>
        <ng-template ngbNavContent>
          <app-student-header>
          </app-student-header>
        </ng-template>
      </ng-container>

      <ng-container ngbNavItem>
        <a ngbNavLink>Member Data</a>
        <ng-template ngbNavContent>
          <app-admins-student-member-profile>
          </app-admins-student-member-profile>
        </ng-template>
      </ng-container>

      <ng-container ngbNavItem>
        <a ngbNavLink>History</a>
        <ng-template ngbNavContent>
          <app-student-history>
          </app-student-history>
        </ng-template>
      </ng-container>

      <ng-container ngbNavItem>
        <a ngbNavLink>Mentor Reports</a>
        <ng-template ngbNavContent>
          <app-admins-student-mrs>
          </app-admins-student-mrs>
        </ng-template>
      </ng-container>

      <ng-container ngbNavItem>
        <a ngbNavLink>Quarterly Reports</a>
        <ng-template ngbNavContent>
          <app-admins-student-qrs>
          </app-admins-student-qrs>
        </ng-template>
      </ng-container>
    </nav>
    <div [ngbNavOutlet]="nav1" class="mt-2"></div>
  </div>
</div>