<div class="col">

  <!-- <div class="row">
    <div class="col-12">
      <app-student-header>
      </app-student-header>
    </div>
  </div> -->


  <!-- <div class="card bg-primary">
    <div class="card-body bg-white"> -->



      <div class="row">
        <ngb-tabset>
          <ngb-tab title="Student Profile">
            <ng-template ngbTabContent>
              <app-admins-student-student-profile> </app-admins-student-student-profile>
            </ng-template>
          </ngb-tab>

          <ngb-tab title="Member Profile">
            <ng-template ngbTabContent>
              <app-admins-student-member-profile> </app-admins-student-member-profile>
            </ng-template>
          </ngb-tab>

          <ngb-tab title="Mentor Reports">
            <ng-template ngbTabContent>
              <app-admins-student-mrs> </app-admins-student-mrs>
            </ng-template>
          </ngb-tab>

          <ngb-tab title="Quarterly Reports">
            <ng-template ngbTabContent>
              <app-admins-student-qrs> </app-admins-student-qrs>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  <!-- </div>
</div> -->
