<div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
<div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>
<div [ngSwitch]="isLoading">

  <div *ngSwitchCase="true" class="text-center col-md-4 col-md-offset-4">
    <app-loading-container>
    </app-loading-container>
  </div>
  <div *ngSwitchCase="false">
 
    <form [formGroup]="myForm" class="form-horizontal">


      <label for="firstNames">Nombre(s)</label>
      <input id="firstNames"
             formControlName="firstNames"
             class="form-control form-control-sm" type="text" placeholder="Nombre(s)"
             maxlength="30" />
      <app-display-errors control="firstNames" class="red"
                          [errors]="{
                'required': 'Se requiere el(los) nombre(s).',
                'maxlength': 'El(los) nombre(s) del estudiante no puede exceder los 30 caracteres de longitud.'
      }"></app-display-errors>

      <label for="lastNames">Apellido(s)</label>
      <input id="lastNames"
             formControlName="lastNames"
             type="text" class="form-control form-control-sm" placeholder="Apellido(s)"
             maxlength="30" />
      <app-display-errors control="lastNames" class="red"
                          [errors]="{
                'required': 'Se requiere el(los) apellido(s)',
                'maxlength': 'El(los) apellido(s) del estudiante no puede exceder los 30 caracteres de longitud.'
      }"></app-display-errors>

      <label for="email">Correo electrónico</label>
      <input id="email"
            formControlName="email"
            type="text" class="form-control form-control-sm" placeholder="Correo electrónico: correo@electrónico.com"
            requires maxlength="50" minlength="3"/>
      <app-display-errors control="email" class="red"
                          [errors]="{
                'required': 'Se requiere el correo electrónico.',
                'maxlength': 'El correo electrónico del estudiante no puede exceder los 50 caracteres de longitud.',
                'minlength': 'El correo electrónico del estudiante no puede ser menor de 7 caracteres de longitud.'
      }"></app-display-errors>

      <label for="smA_Phone">Número de Teléfono</label>
      <input id="smA_Phone"
            formControlName="smA_Phone"
            type="text" class="form-control form-control-sm" placeholder="Número de teléfono: ###-###-####"
            required maxlength="13" minlength="7" />
      <app-display-errors control="smA_Phone" class="red"
                          [errors]="{
                'required': 'Se requiere el número de teléfono.',
                'minlength': 'El número de teléfono debe tener al menos 7 caracteres de longitud.',
                'maxlength': 'El número de teléfono no puede exceder de 13 caracteres de longitud.'
      }"></app-display-errors>
<!--
      <label for="englishSkillLevelId">Nivel de Inglés:</label>
      <select formControlName="englishSkillLevelId"
              class="form-control form-control-sm">
      <option *ngFor="let status of languageStatuses" [value]="status.value">{{status.label}}</option>
      </select>
      <app-display-errors control="englishSkillLevelId" class="red"
                          [errors]="{
                'required': 'Se requiere el nivel de Inglés'
      }"></app-display-errors>
--> 
      <div class="form-group">
        <div class="controls">
          <button class="btn btn-default"
                  (click)="saveMyForm()"
                  [disabled]="!myForm.valid">
            Guardar cambios
          </button>
          <span class="red" [hidden]="myForm.valid">Todos los campos deben ser completados antes de guardar.</span>
        </div>
      </div>
       
    </form>
  </div>
</div>