<div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
<div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>
<div [ngSwitch]="isLoading">
  <div *ngSwitchCase="true" class="text-center col-md-4 col-md-offset-4">
    <app-loading-container>
    </app-loading-container>
  </div>
  <div *ngSwitchCase="false">

    <form [formGroup]="myForm" class="form-horizontal">

      <label for="universityAbbrev">Abbreviation</label>
      <input id="universityAbbrev"
             formControlName="universityAbbrev"
             class="form-control form-control-sm" type="text" placeholder="Abbreviation"
             maxlength="15"
             minlength="2" />
      <app-display-errors control="universityAbbrev" class="red"
                          [errors]="{
                'required': 'University Abbreviation is required',
                'maxlength': 'University Abbreviation cannot exceed 15 characters in length.',
                'minlength': 'University Abbreviation must be at least 2 characters in length.'
              }"></app-display-errors>


      <label for="universityName">University Name</label>
      <input id="universityName"
             formControlName="universityName"
             type="text" class="form-control form-control-sm" placeholder="Name"
             maxlength="50" />
      <app-display-errors control="universityName" class="red"
                          [errors]="{
                'required': 'University Name is required',
                'maxlength': 'University Name cannot exceed 50 characters in length.'
              }"></app-display-errors>


      <label for="universityCity">University City</label>
      <input id="universityCity"
              formControlName="universityCity"
              type="text" class="form-control form-control-sm" placeholder="City"
              maxlength="50" />
      <app-display-errors control="universityCity" class="red"
                          [errors]="{
                'required': 'University City is required',
                'maxlength': 'University City cannot exceed 50 characters in length.'
              }"></app-display-errors>


      <label for="academicYearTypeId">Academic Year Type:</label>
      <select formControlName="academicYearTypeId"
              class="form-control form-control-sm">
        <option *ngFor="let type of academicYearTypes" [value]="type.value">{{type.label}}</option>
      </select>
      <app-display-errors control="academicYearTypeId" class="red"
                          [errors]="{
                'required': 'Academic Year Type is required'
              }"></app-display-errors>


      <div class="form-group">
        <div class="controls">
          <button class="btn btn-default"
                  (click)="saveMyForm()"
                  [disabled]="!myForm.valid">
            Save
          </button>
            <button type="button"
                    class="btn btn-default"
                    style="width:75px"
                    (click)="onCancel()">
              Cancel
            </button>
            <span class="red" [hidden]="myForm.valid">All required fields must be filled in before saving.</span>


        </div>
      </div>
    </form>
    <div>
  <!-- Valid: {{ myForm.valid }}
  Value: {{ myForm.value | json }}
  Errors: {{ myForm.errors | json }} -->
</div>
  </div>
</div>