<div class="card bg-primary">
  <div class="card-header text-white" style="font-size:large">
    <span>Upload Titulo </span>
  </div>


  <div class="card-body bg-white">

    <div>
      <div class="btn btn-primary btn-sm" (click)="location.back()"> &lt;&lt;&nbsp; Back </div>
        <div>
          <hr color="#0f5faf">
          <h6 style="color:black;"><b></b>Sube el titulo</h6>
          <br>
          <h6 style="color:black;">The titulo file must be in<mark style="color:#05579E; background-color:powderblue;"> JPG</mark> format, and be <b><i>less than 1 Mb in size</i></b>.</h6>
          <br>
          <app-titulo-uploader [studentGUId]=studentGUId [gradYear]=gradYear ></app-titulo-uploader>
        </div>
    </div>
  </div>
</div>