<div class="card bg-primary">
  <div class="card-header text-white" style="font-size: large">Student Self Report of {{ studentName }}</div>
  <div class="card-body bg-white">
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
    <div [ngSwitch]="isLoading">
      <div *ngSwitchCase="true" class="text-center col-md-4 col-md-offset-4">
        <app-loading-container> </app-loading-container>
      </div>
      <div *ngSwitchCase="false">
        <form [formGroup]="myForm">
          <div class="form-group"></div>

          <div>&nbsp;</div>

          <div class="form-group">
            <div class="controls">
              <label for="narrative_English">Inglés</label>
              <textarea
                id="narrative_English"
                #success
                formControlName="narrative_English"
                type="text"
                class="form-control input-sm narrative"
                placeholder=""
              >
              </textarea>
              <app-display-errors
                control="narrative_English"
                class="red"
                [errors]="{
                  required: 'An entry is required, even if it is just N/A.',
                  maxlength: 'Entry cannot exceed 4000 characters in length.'
                }"
              ></app-display-errors>
            </div>

            <div class="controls">
              <label for="narrative_Spanish">Español</label>
              <textarea
                id="narrative_Spanish"
                #success
                formControlName="narrative_Spanish"
                type="text"
                class="form-control input-sm narrative"
                placeholder=""
              >
              </textarea>
              <app-display-errors
                control="narrative_Spanish"
                class="red"
                [errors]="{
                  required: 'Se requiere una entrada, aun si es sólo N/A.',
                  maxlength: 'La entrada no puede exceder 4000 caracteres del largo.'
                }"
              ></app-display-errors>
            </div>
          </div>

          <div class="col-md-6 col-md-offset-1">
            <span>
              <button type="button" class="btn btn-default" style="width: 75px" (click)="onCancel()">Back</button>
            </span>
            <span>
              <button type="button" class="btn btn-danger" style="width: 75px; margin-left: 5rem" (click)="onDelete()">
                Delete
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
