<div class="card bg-primary">
  <div class="card-header text-white" style="font-size:large">
    Mentor Reports for Quarter
  </div>
  <div class="card-body bg-white">
    <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
    <div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>
    <form [formGroup]="myForm">
      <fieldset>
        <div class="form-group">
          <div hidden class="controls">
            <label for="mentorReportId">Id</label>
            <textarea id="mentorReportId"
                      formControlName="mentorReportId"
                      type="text"
                      class="form-control input-sm">
                </textarea>
          </div>
          <div class="controls">
            <label for="narrative_Spanish">Texto Español</label>
            <textarea id="narrative_Spanish" #success
                      formControlName="narrative_Spanish"
                      type="text"

                      class="form-control input-sm narrative" placeholder="">
                </textarea>
            <app-display-errors control="narrative_Spanish" class="red"
                                [errors]="{'required': 'Se requiere una entrada, aun si es sólo N/A.',
                'maxlength': 'La entrada no puede exceder 4000 caracteres del largo.'
                      }"></app-display-errors>
          </div>

          <div class="controls">
            <label for="narrative_English">Texto Inglés</label>
            <textarea id="narrative_English" #success
                      formControlName="narrative_English"
                      type="text"

                      class="form-control input-sm narrative" placeholder="">
              </textarea>
            <app-display-errors control="narrative_English" class="red"
                                [errors]="{'required': 'An entry is required, even if it is just N/A.',
              'maxlength': 'Entry cannot exceed 4000 characters in length.'
                    }"></app-display-errors>
          </div>

          <div class="col-md-6 col-md-offset-1">
            <span>
              <button class="btn btn-primary"
                      style="width:90px;margin-right:10px"
                      (click)="onSubmit()">
                Guardar
              </button>
            </span>&nbsp;
            <span>
              <button type="button"
                      class="btn btn-default"
                      style="width:95px"
                      (click)="onCancel()">
                Cancelar
              </button>
              <div class="red" [hidden]="myForm.valid">Year, Month, Emoji and description must be
                filled in before saving.<br />Año, mes, Emoji y descripción rellenarse antes de guardar.</div>
            </span>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>