<div class="card bg-primary">
  <div class="card-header text-white" style="font-size: large">
    <span>Payment Status for {{ studentName }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </div>

  <div class="card-body bg-white">
    <span *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</span>
    <span *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</span>

    <div>
      <div [ngSwitch]="isLoading">
        <div *ngSwitchCase="true" class="text-center col-md-4 col-md-offset-4">
          <app-loading-container> </app-loading-container>
        </div>
        <div *ngSwitchCase="false">
          <form [formGroup]="myForm">
            <p>
              <button
                [disabled]="myForm.pristine"
                type="button"
                class="btn btn-primary"
                (click)="saveAllChangedEntries()">
                Save
              </button>
              <button
              type="button"
                class="btn btn-primary"
                (click)="location.back()">
                Back
              </button>
            </p>
            <table class="table-sm table-striped">
              <thead>
                <tr>
                  <td></td>
                  <th>PCSID</th>
                  <th>Year</th>
                  <th>Month</th>
                  <th>MR</th>
                  <th>SSR</th>
                  <th>IR</th>
                  <th>GR</th>
                  <th>Payment Status</th>
                  <th>Amount</th>
                  <th>Approved By</th>
                  <th>Comment</th>
                </tr>
              </thead>
              <tbody>
                <tr formArrayName="becaPaymentFormRows" *ngFor="let bp of becaPaymentsData; let i = index">
                  <ng-container [formGroupName]="i">
                    <td>
                      {{ i+1 }}
                    </td>
                    <td>{{ bp.pcsCode }}</td>
                    <td>
                      {{ bp.pcsYear }}
                    </td>
                    <td>
                      {{ bp.pcsMonthNum }}
                    </td>
                    <td>
                      <span style="text-align: center; white-space: nowrap">
                        <app-three-way-checkbox [(value)]="bp.mentorReportStatusId"></app-three-way-checkbox>
                      </span>
                    </td>
                    <td>
                      <span style="text-align: center; white-space: nowrap">
                        <app-three-way-checkbox [(value)]="bp.studentReportStatusId"></app-three-way-checkbox>
                      </span>
                    </td>

                    <td>
                      <span style="text-align: center; white-space: nowrap">
                        <app-three-way-checkbox [(value)]="bp.inscriptionReportStatusId"></app-three-way-checkbox>
                      </span>
                    </td>
                    <!-- <td>
                      <span style="text-align: center; white-space: nowrap">
                        <app-three-way-checkbox [(value)]="bp.gradeReportStatusId"></app-three-way-checkbox>
                      </span>
                    </td> -->
                    <td>
                      <span style="text-align: center; white-space: nowrap">
                        <app-three-way-checkbox [(value)]="bp.gradeReportStatusId"></app-three-way-checkbox>
                      </span>
                    </td>
                    <td>
                      <select
                              id="paymentStatusId"
                              formControlName="paymentStatusId"
                              class="form-control form-control-sm"
                              style="width: 120px;">
                        <option *ngFor="let status of paymentStatuses" [value]="status.value">{{ status.label }}</option>
                      </select>
                    </td>

                    <td>
                    <label style="display: inline-block; margin-right: 3px;">$</label>
                     <input formControlName="requestedBeca"
                      class="form-control form-control-sm" type="text"
                      style ="width: 50px; display: inline-block;"
                       />
                    </td>
                    <td>
                      <div *ngIf="admins$ | async as admins">
                        <select
                                id="approvedById"
                                formControlName="approvedById"
                                class="form-control form-control-sm"
                                style="width: 75px;"
                                (change)="setApprovedBy(i, $event.target.value)">
                          <option [value]="null">[Not Approved]</option>
                          <option *ngFor="let admin of admins" [value]="admin.value">{{ admin.label }}</option>
                        </select>
                      </div>
                    </td>
                    <td>
                      <input formControlName="comment" class="form-control form-control-sm" type="text" />
                    </td>
                    <!-- <td>
                      <button (click)="saveEntry(i)">Save</button>
                    </td> -->
                    <!-- <td *ngIf="isRowDirty(i)">+-+</td>
                    <td *ngIf="!isRowDirty(i)"></td> -->
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </form>

          <!-- <br />Dirty: {{ myForm.dirty }}
          <br />Pristine: {{ myForm.pristine }}
          <br />Touched: {{ myForm.touched }}
          <br />Valid: {{ myForm.valid }} -->
        </div>
      </div>
    </div>
  </div>
</div>