<!-- <div class="card bg-primary">
  <div class="card-body bg-white"> -->
    <div class="row ">
      <h3>
        Resources
      </h3>
    </div>
    <div class="row">
      <table class="table-sm table-striped">
        <thead>
          <td><b>Title</b></td>
          <td><b>Description</b></td>
        </thead>
        <tr>
          <td>
            <a href= "{{staticUrlPrefix}}Resources/MentorHandbook2024.docx"
            target="_blank">Mentor Handbook</a>

          </td>
          <td>Latest Offical Mentor Handbook</td>
        </tr>
      </table>
    </div>
  <div class="row ">
    <h3>
      Test Accounts
    </h3>
  </div>
  <div class="row">
    <table class="table-sm table-striped">
      <thead>
        <td><b>LastName, FirstName</b></td>
        <td><b>Email/Username</b></td>
        <td><b>Password</b></td>
      </thead>
      <tr>
        <td>_Test, _Admin</td>
        <td>admin&#64;test.test</td>
        <td>_TestEmail2</td>
      </tr>
      <tr>
        <td>_Test, _Mentor</td>
        <td>mentor&#64;test.test</td>
        <td>_TestEmail2</td>
      </tr>
      <tr>
        <td>_Test, _Student_Semestre</td>
        <td>student&#64;test.test</td>
        <td>_TestEmail2</td>
      </tr>
      <tr>
        <td>_Test, _Student_Cuatrimestre</td>
        <td>studentC&#64;test.test</td>
        <td>_TestEmail2</td>
      </tr>
    </table>
  </div>
  <hr/>
  <div class="row">
    <app-test-names-visibility> </app-test-names-visibility>
  </div>
<hr/>
  <div class="row">
    <app-server-environment> </app-server-environment>
  </div>
