
<div class="panel panel-primary">
  <div class="panel-heading" style="font-size:large">
    Add New FollowUp Request
  </div>
  <div class="panel-body">
    <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
    <div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>

    <form [formGroup]="myForm">
      <fieldset [disabled]="submitted">


        <div class="form-group">
           Student <app-student-selector></app-student-selector>
        </div>


        <div class="form-group">
           Importance
        </div>

         <div class="form-group">
            Initiated-by Person
         </div>

         <div class="form-group">
            Initiated-by Role
         </div>

         <div class="form-group">
            Target Date (if any)
         </div>


        <div class="controls">
          <label for="inputDescription">Description</label>
          <textarea id="inputDescription" #success formControlName="inputDescription"
                    type="text"
                    class="form-control input-sm"
                    placeholder="">
          </textarea>

        </div>


        <div class="col-md-6 col-md-offset-1">
          <span>
            <button class="btn btn-primary"
                    style="width:80px;margin-right:10px"
                    (click)="onSubmit()">
              Save
            </button>
          </span>&nbsp;
          <span>
            <button type="button"
                    class="btn btn-default"
                    style="width:70px"
                    (click)="onCancel()">
              Cancel
            </button>
            <div class="red">All fields must be filled in before
              saving.</div>
          </span>
        </div>
      </fieldset>
    </form>
  </div>
</div>