<div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
<div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>

<!-- <div [ngSwitch]="isLoading">-->
  <div class="text-center col-md-12"></div>

  <div [formGroup]="myForm">
    <div>
      <label for="studentHistory_Es">Student History (Español)</label>
      <textarea
        id="studentHistory_Es"
        formControlName="studentHistory_Es"
        type="text"
        #StudentHistory_Es
        class="form-control input-sm narrative"
        rows="10" cols="60"
      ></textarea>
      <span class="form-text text-muted"
        ><code>{{ StudentHistory_Es.value.length }}</code> of <code>4500</code> characters</span
      >
    </div>
    <b>
    &gt;&gt;<a href = "https://translate.google.com/?sl=es&tl=en&op=translate" class="link" target="_blank">Google Translate</a>
  </b>
    <div>
      <label for="studentHistory_En">Student History (English)</label>
      <textarea
        id="studentHistory_En"
        formControlName="studentHistory_En"
        type="text"
        #StudentHistory_En
        class="form-control input-sm narrative"
      ></textarea>
      <span class="form-text text-muted"
        ><code>{{ StudentHistory_En.value.length }}</code> of <code>4500</code> characters</span
      >
    </div>
  </div>
<!-- </div> -->

<div class="col-md-6 col-md-offset-1">
  <span> <button class="btn btn-primary" style="width: 90px; margin: 10px" (click)="onSubmit()">Guardar</button> </span
  >&nbsp;
</div>
