<div class="row">
  <div class="col-12">
    <app-student-header-mentors>
    </app-student-header-mentors>
  </div>
</div>
<div class="row">
  <div class="col">
    <ngb-tabset>

      <ngb-tab title="Mentor Reports">
        <ng-template ngbTabContent>
          <app-mentor-reports>
          </app-mentor-reports>
        </ng-template>
      </ngb-tab>

      <ngb-tab title="Student Self Reports">
        <ng-template ngbTabContent>
          <div class="label-text">&nbsp;</div>
          <div class="label-text">Student Self Reports are Coming Soon -- Look for an announcement in your Email.</div>
          <div class="label-text">&nbsp;</div>
          <!-- <app-self-reports>
          </app-self-reports> -->
        </ng-template>
      </ngb-tab>

    </ngb-tabset>
  </div>
</div>