<div>Dear Mentor,</div>
<div>&nbsp;</div>
<div><h4>**Please click on <b>Reports</b> above to create a new Mentor report.**</h4></div>

<div>&nbsp;</div>
<div>Thank you for the essential role you play in helping our students' college experience be successful.</div>
<div>We depend on your reports to keep our sponsors informed and involved, so it is vital that we get your Mentor Report on a timely basis each month.</div>
<div>&nbsp;</div>
<div><h4>**Por favor haga clic en <b>Reports</b> encima para crear un nuevo informe**</h4></div>
<div>Gracias por el papel esencial que desempeñar en ayudar a nuestros estudiantes' experiencia universitaria sea exitosa.
dependemos de sus informes para mantener a nuestros patrocinadores informados e involucrados, por lo que es vital que tengamos su informe de mentor en forma puntualmente cada mes.</div>
  <div>&nbsp;</div>
<div>
Saludos,
</div>
<div>&nbsp;</div>
<div>
The JA Team
</div>

