
<div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
<div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>

<div class="center">
  <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
  (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
        Arrastre el PDF del informe de calificaciones aquí. (O busque y seleccione el archivo.)
        <button style='margin-left: 2rem;' type="button" (click)="openFileSelector()">Examinar archivos</button>
      </ng-template>
  </ngx-file-drop>

  <div class="upload-table">
      <table class="table">
          <thead>
              <tr>
                  <th>Nombre de archivo</th>
              </tr>
          </thead>
          <tbody class="upload-name-style">
              <tr *ngFor="let item of files; let i=index">
                  <td><strong>{{ item.relativePath }}</strong></td>
              </tr>
          </tbody>
      </table>
  </div>
</div>