<div *ngIf="errorMessage" class="alert alert-danger">
  {{errorMessage}}</div>

<students-for-mentor-grid
(onSelectedStudentName)="onSelectedStudentName($event)"
(onSelectedStudentId)="onSelectedStudentId($event)"
>
</students-for-mentor-grid>

<div [ngSwitch]="isLoading">
  <div *ngSwitchCase="true" class="text-center col-md-4 col-md-offset-4">
    <app-loading-container>
    </app-loading-container>
  </div>
  <div *ngSwitchCase="false">
    <div *ngIf="!errorMessage" class="card bg-warning">
      <div class="card-header text-white" style="font-size:large">
        <span>Previous Requests / Pedidos Anteriores --  </span>
        <span>{{studentName}}</span>
        <span>
          <span>
            <span class="btn btn-default active" (click)="followUpRequestAdd()" style="margin-left:10px">
              New Request / Nuevo Pedir
            </span>
          </span>
        </span>
      </div>
<app-follow-up-requests-list  [followUpRequests]="followUpRequests"
    [displayCompleteHistory]="true"
    [showAddDetails]="false"
    ></app-follow-up-requests-list>
    </div>
  </div>
</div>