<h5>Commentary from Jovenes Administration
  <span class="checkboxes">
    <label><input type="checkbox" [(ngModel)]="showText"><span>Show Text</span></label>
  </span>
</h5>
<div class="row" [hidden]=!showText>

  <p>This is where notes and commentary from Jovenes Administration would appear. It could
    be fairly short or fairly long, depending upon what has been happening with an
    individual student. This is going to to along for a while to give a better visual
    sense of what it would look like.
  </p>
  <p>A second paragraph would be vary likely and look like this. Though it could be longer
    than this one is.
  </p>