<h5>Mentor Reports For Period
  <span class="checkboxes">
    &nbsp;&nbsp;<label><input type="checkbox" [(ngModel)]="showText">&nbsp;<span>Show Text</span></label>
  </span>
</h5>
<div class="row" [hidden]=!showText>
  Description (English)
  Miguel reports a 9.2 average this past semester and we continue with one-on-one English tutoring. He is excited about
  looking into a 3-month internship provided by the State of Guanajuato for university graduates. Capacitacion Sin
  Fronteras provides subsidized study with a foreign-owned company in Guanajuato, which then sends the student to their
  foreign heaquarters for an additional subsidized 3-month internship. Students then are expected to work for a
  specified
  time with that company. However, only universities that participate in that program can propose a student for
  acceptance. Miguel's university does not participate, but Miguel plans to meet with his teacher to explore
  possibilities
  to participate in this program. Does Jovenes Adelante have anyone familiar with this program through other
  universities
  attended by Jovenes Adelante students? Any suggestions for Miguel?
  Miguel reports being extremely busy as this is his last quarterly semester where his workload is heaviest. He has
  class
  projects in different subjects, german and english classes and his job on weekends in addition to studying for final
  exams. He reports having some difficulty with German and one of his engineering classes, but expects to pass both of
  these exams. Miguel states that his family became excited when told about the festive preparations started for the
  December 6 graduation. Miguel asks that we restart our one-on-one English tutoring , which we discontinued during his
  very busy semester.


  Description (Spanish)
  [Traducción automática] Miguel reporta un promedio de 9.2 este semestre pasado y continuamos con tutoría individual de
  inglés. Está entusiasmado con la búsqueda de una pasantía de 3 meses proporcionada por el estado de Guanajuato para
  los
  graduados universitarios. Capacitacion Sin Fronteras ofrece un estudio subsidiado con una empresa de propiedad
  extranjera en Guanajuato, que luego envía al estudiante a sus cuartos extranjeros para una pasantía adicional
  subsidiada
  de 3 meses. A continuación, se espera que los estudiantes trabajen durante un tiempo especificado con esa empresa. Sin
  embargo, sólo las universidades que participan en ese programa pueden proponer un estudiante para su aceptación. La
  Universidad de Miguel no participa, pero Miguel planea reunirse con su profesor para explorar posibilidades de
  participar en este programa. ¿Tiene Jovenes Adelante alguien familiarizado con este programa a través de otras
  universidades a las que asisten estudiantes de Jovenes Adelante? ¿Alguna sugerencia para Miguel?
  [Traducción automática] Miguel informa de estar muy ocupado, ya que este es su último semestre trimestral donde su
  carga
  de trabajo es más pesada. Tiene proyectos de clase en diferentes asignaturas, clases de alemán e inglés y su trabajo
  los
  fines de semana además de estudiar para los exámenes finales. Informa que tiene algunas dificultades con el alemán y
  una
  de sus clases de ingeniería, pero espera aprobar ambos exámenes. Miguel afirma que su familia se emocionó cuando se le
  habló de los preparativos festivos que comenzaron para la graduación del 6 de diciembre. Miguel nos pide que
  reiniciemos
  nuestra tutoría individual de inglés, que interrumpimos durante su muy ocupado semestre.
</div>