<div class="panel panel-primary">
  <div class="panel-heading" style="font-size:large">
    <span>Communications for</span>
    <span>{{memberName}}</span>
    <span>
      <span >
        <span class="btn btn-default active" (click)="communicationAdd(1216)" style="margin-left:10px">
            Add New Communication
      </span>
      </span>
    </span>
  </div>
  <div class="panel-body">
  <div class="panel-body">
    <span *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</span>
    <span *ngIf="successMessage" class="alert alert-success">{{successMessage}}</span>

    <div>
      <form>
        <!--<button class="btn default-btn" (click)="fetchFilteredData()">Submit</button>-->
      </form>

    </div>
    <div [ngSwitch]="isLoading">
      <div *ngSwitchCase="true" class="text-center col-md-4 col-md-offset-4">
        <loading-container>
        </loading-container>
      </div>
      <div *ngSwitchCase="false">
        <table class="table">

          <thead>
            <tr>
              <!--<td>Id</td>-->
              <td></td>
              <td>Date/Time</td>
              <td>Member</td>
              <td>Method</td>
              <td>Category</td>
              <td>Related Student</td>
              <td>Comments</td>
              <td>Communication History</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let communication of communications, let i = index">
              <td>
                {{ i+1 }}
              </td>
              <td>
                {{ communication.communicationDateTime }}
              </td>
              <td>
                {{ communication.memberId }}
              </td>
              <td>
                {{ communication.methodId }}
              </td>
              <td>
                {{ communication.categoryId }}
              </td>
              <td>
                {{ communication.relatedStudentId }}
              </td>
              <td>
                {{ communication.comments }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  l
