<nav>
  <!-- <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/becas']">Welcome</a> -->
  <a [routerLinkActive]="['active']" [routerLink]="['/becas']"
     [routerLinkActiveOptions]="{ exact: true }">Grades List</a>
  <!-- <a [routerLinkActive]="['active']" [routerLink]="['/becas/grades-edit']">Review/Edit Grades</a> -->
  <!-- <a [routerLinkActive]="['active']" [routerLink]="['/becas/self-reports/tracking']">StudentRpts</a> -->
  <a [routerLinkActive]="['active']" [routerLink]="['/becas/inscriptions-list']">Inscriptions List</a>
  <!-- <a [routerLinkActive]="['active']" [routerLink]="['/becas/inscriptions-edit']">Review/Edit Inscriptions</a> -->
</nav>