:host {
  background-color: #106cc8;
  color: rgba(255, 255, 255, 0.87);
  display: block;
  height: 48px;
  padding: 0 16px;
}


nav a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;

  margin-left: 20px;
  text-decoration: none;
  vertical-align: middle;
}

nav a.router-link-active {
  color: #106cc8;
}

nav a.active {
  font-weight: bold;
  padding: 5px;
  background-color: lightblue;
  color: #05579E;
}

/*.nav a {
    padding: 26px 10px !important;
    border-right: 0px !important;
}*/

