<div class="container">

  <div class="row">
    <div class="col-4">
      <div class="row">
        <app-student-lookup>
        </app-student-lookup>
      </div>


      <!-- <div class="row">
        <app-qr-status-selector>
        </app-qr-status-selector>
      </div> -->
      <!-- <div class="row">
        <span style="margin-top: 1rem;" (click)="gotoStudentList()" class="btn btn-med btn-primary">Student
          List</span>
        <span style="margin-top: 1rem;" (click)="gotoStudent()" class="btn btn-med btn-primary">Student
        </span>
      </div> -->


    </div>

    <div class="col-2">
      <div class="row">
        <app-person-photo [photoPathName]="photoPathName"></app-person-photo>
      </div>
    </div>

    <div class="col-6">

      <div class="row">
        <app-student-header-details
                                    (onPhotoPathNameSet)="onPhotoPathNameSet($event)">
        </app-student-header-details>
      </div>
    </div>

  </div>
</div>