<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <app-name-lookup>
        </app-name-lookup>
      </div>
      <div class="row">
        <app-student-header-details
                                    (onPhotoPathNameSet)="onPhotoPathNameSet($event)">
        </app-student-header-details>
      </div>
    </div>

    <div class="col">
      <div class="row">
        <app-person-photo [photoPathName]="photoPathName"></app-person-photo>
      </div>
    </div>
  </div>
</div>