/* Reset */
/* this set of reset rules doesn't work due bootstrap higher priority  */

html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}
/* Box-sizing border-box */
* {
  box-sizing: border-box!important;
}


/* Set up a default font and some padding to provide breathing room */
body {
    color: #212121;
    font-family: "Tahoma", "Helvetica Neue",  Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*letter-spacing: 0.02em;*/
    font-size:12px;
    line-height:18px;
    background:#f3f3f3;
}

p {
  font-weight: 400;
  /*letter-spacing: 0.01em;*/
  font-size:15px;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

input {
  border: 1px solid #106cc8;
  font-size: 14px;
  /* height: 40px; */
  outline: none;
  padding: 8px;
}

button {
  background-color: #106cc8;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
}

button:hover {
  background-color: #99b3c2;
}


:host {
  display: block;
  padding: 0 16px;
}

label {
  margin-top: 8px;
}

/*input {
  width: 250px;
}*/

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

.clickable {
  cursor: pointer;
}


.red {
  color: #a94442;
  font-weight: bold;
}

.form-control-sm {
  height: calc(1.5em + 0.5rem);
  padding: 0.25rem 0.25rem;
}
.label-text {
  font-weight: bold; font-size: 1.05rem; color: slategrey
}

.dimmed {
  opacity: 0.5;
  font-weight: light;
}

/* new color set */
.main-blue-bg {
  background-color: #1894A4;
  color: white;
}
.main-blue-bg a{
  color: white;
}

.text-area-bg{
  background-color: #E4E8EA;
  color: black;
}