h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-family: 'Dosis', sans-serif;*/
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  color: #888;
}

h5 {
  font-size: 20px;
  margin: 5px 0px;
  padding: 5px 0px;
}

.padd {
  padding: 10px;
}

.social img {
  margin-right: 5px;
  margin-bottom: 5px;
}

img.alignleft {
  margin: 10px 8px 5px 0px;
  float: left;
}

img.alignright {
  margin: 10px 0px 5px 8px;
  float: right;
}

a:active,
a:focus {
  border: none;
  outline: none;
}

a:-moz-any-link:focus {
  outline: none;
}

i {
  margin-right: 3px;
}

/* from Site.css */

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
  white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
  max-width: 320px;
}

/* CJK Mod */
textarea {
  max-width: 800px;
}

/* CJK Mode override bootstrap*/
textarea.form-control {
  height: 140px;
}

/* CJK */
.padded {
  padding-right: 50px;
  font-weight: bold;
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

.centered {
  text-align: center;
}

.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}



/* Header */

.sharecard {
  background: #444;
  color: #ddd;
  display: none;
  border-bottom: 1px solid #222;
}
.foot{
background:#1c94a4;
}

.spara {
  padding-bottom: 0px;
  font-size: 22px;
  line-height: 23px;
}

.fixedbar {
  /* color:#fff; */
  height: 50px;
  /* margin-bottom:5px; */
}

.logo,
.share {
  padding: 0px 10px 0px 10px;
}

.share {
  font-size: 20px;
  line-height: 23px;
}

.fixedbar a,
.fixedbar a:visited,
.fixedbar a:hover {
  color: #fff;
  text-decoration: none;
}

footer {
  background: #0072c6;
}

footer a:hover,
footer a:focus {
  color: #c2e5ff;
}

footer {
  color: #fff;
  font-size: 1rem;
  line-height: 16px;
}

footer a:hover,
footer a:focus {
  text-decoration: underline;
}

footer h3 {
  color: #fff;
  font-size: 22px;
  margin: 5px 0px;
  padding-bottom: 10px;
}


footer ul li {
  padding: 5px 0px;
}

footer blockquote p,
footer blockquote small {
  color: #fff;
  font-size: 12px;
  padding-left: 30px;
}

footer h3,
footer ul li {
  border-bottom: 1px dashed #ccc;
}

footer a {
  color: #fff;
}

.attr {
  text-align: right;
}

.fpadd {
  padding: 5px 10px 5px 70px;
}

.close{
  min-width: auto!important;
  height: auto!important;
}
/* file drop styles */
.drop-zone{
  border: 2px dashed #85858A;
  background-color: #EAEAEA;
  border-radius: 10px;
}
.drop-zone-content{
  text-align: center;
}
.drop-zone-content>button{
  padding: 2.5rem;

  height: 100%;
  width: 100%;
  background-color: inherit;
  margin: 0;
}
.drop-zone-content>button>p{
  margin: 0;
  font: 500 16px Roboto, sans-serif;
  letter-spacing: 2px;
  color: black;
}
.drop-zone-content>button>.parentheses{
  font-weight: 300;
  letter-spacing: normal;
  color: #3D3D3D;
}
/* Responsive */

@media (max-width: 480px) {

  img.alignleft,
  img.alignright {
    float: none;
    display: block;
    width: auto;
    padding: 0px;
    margin: 0px;
  }
}

@media (max-width: 767px) {
  .attr {
    text-align: left;
  }

  .fixedbar,
  .sharecard,
  .foot

  /* , footer */
    {
    margin-left: -20px;
    margin-right: -20px;
  }

  .sharecard {
    text-align: center;
  }

  .matter {
    display: none;
  }

  .padd-f,
  .padd-m,
  .padd-l {
    padding: 10px;
    margin: 0px;
  }

  input {
    width: 50% !important;
  }

  .navi ul {
    display: none;
  }

  .navis select {
    display: inline-block;
  }

  select {
    width: 100%;
  }

  .foot .padd {
    padding: 10px 20px;
  }

  .staff {
    text-align: center;
  }
}

/* new color set */
.main-blue-bg {
  background-color: #1894A4;
  color: white;
  font-family: 'Open-sans', sans-serif;
}

/* for alerts */
.swal2-html-container, .swal2-title ,.swal2-styled{
  font-family: 'Roboto', sans-serif !important;
} 

.swal2-confirm{
  background-color: #0C4ABA!important;
}

@media (min-width: 768px) and (max-width: 979px) {}

@media (max-width: 979px) {}

