
th[app-sortable-column] {
  text-align: left;
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

.up-arrow:before {
content: "^&nbsp;";
}

.down-arrow:after {
  content: "v&nbsp;&nbsp;";
}
.thumbnail:hover {
  position:relative;
  top:-25px;
  left:-35px;
  width:150px;
  height:auto;
  display:block;
  z-index:999;
}