<div class="card bg-primary">
  <div class="card-header text-white" data-cy="grades-period">
    <span style="font-size: large"> Inscription Report Statuses</span>
    <span style="margin-left: 10rem">
      Inscriptions Processing Period Start Date:
      <select
        name="activePeriodSelector"
        data-cy="period-selector"
        [(ngModel)]="selectedGradesProcessingPeriodID"
        (change)="setselectedGradesProcessingPeriodID($event.target.value)"
      >
        <option *ngFor="let gradesProcessingPeriod of gradesProcessingPeriods" [value]="gradesProcessingPeriod.id">{{gradesProcessingPeriod.descriptor}}</option>
      </select>
    </span>
  </div>
  <div class="card-body bg-white">
    <span *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</span>
    <span *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</span>

    <div [ngSwitch]="isLoading">
      <div *ngSwitchCase="true" class="text-center col-md-4 col-md-offset-4">
        <app-loading-container> </app-loading-container>
      </div>
      <div *ngSwitchCase="false">
        <table class="table-sm table-striped">
          <thead>
            <tr>
              <!-- <td>Id</td> -->
              <th></th>
              <th>Profile</th>
              <th app-sortable-column="studentName" sort-direction="asc" (onSortColumn)="onSortColumn($event)">
                Student
              </th>
              <th app-sortable-column="inscriptionsDueDate" (onSortColumn)="onSortColumn($event)">Inscriptions<br />Due Date</th>
              <th app-sortable-column="registrationFormSubmittedDate" (onSortColumn)="onSortColumn($event)">Registration Form<br />Submitted</th>
              <th app-sortable-column="paymentReceiptSubmittedDate" (onSortColumn)="onSortColumn($event)">Payment Receipt<br />Submitted</th>
              <th>View<br />Registration Form</th>
              <th>View<br />Payment Receipt</th>
              <th app-sortable-column="confirmedDate" (onSortColumn)="onSortColumn($event)">Confirmed <br />Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of inscriptionEntryDTOs; let i = index">
              <td>
                {{ i + 1 }}
              </td>
              <td (click)="gotoStudent(entry.studentGUId, entry.studentName)" class="link">
                Profile
              </td>
              <td (click)="confirmInscription(entry.studentGUId, entry.studentName)" class="link">
                {{ entry.studentName }}
              </td>
              <td>
                {{ entry.inscriptionsDueDate | truncateDate }}
              </td>
              <td>
                {{ entry.registrationFormSubmittedDate | truncateDate }}
              </td>
              <td>
                {{ entry.paymentReceiptSubmittedDate | truncateDate }}
              </td>
              <td class="link">
                <div [hidden]="isViewLinkHidden(entry.registrationFormSubmittedDate)">
                  <a href="{{staticUrlPrefix}}InscriptionRegistrations/{{entry.gradesProcessingPeriodId}}/{{entry.studentGUId | uppercase }}.png" target="_blank">
                    {{entry.studentGUId | trimGuid | uppercase }}
                  </a>
                </div>
              </td>
              <td class="link">
                <div [hidden]="isViewLinkHidden(entry.paymentReceiptSubmittedDate)">
                  <a href="{{staticUrlPrefix}}InscriptionPayments/{{entry.gradesProcessingPeriodId}}/{{entry.studentGUId | uppercase }}.png" target="_blank">
                    {{entry.studentGUId | trimGuid | uppercase }}
                  </a>
                </div>
              </td>
              <td>
                {{ entry.confirmedDate | truncateDate }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>