<div class="panel panel-primary">
  <div class="panel-heading" style="font-size:large">
    Follow-Up Review for {{mentorReport.studentName}}
  </div>
  <div class="panel-body">
    <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
    <div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>
    <div [ngSwitch]="isLoading">
      <div *ngSwitchCase="true" class="text-center col-md-4 col-md-offset-4">
        <loading-container>
        </loading-container>
      </div>
      <div *ngSwitchCase="false">


        <form [formGroup]="frmUpdate">


              <div class="controls">
                <label for="followUpStatusSelector">Follow-Up Status:</label>
                <select formControlName="followUpStatusSelector" class="form-control input-sm" [(ngModel)]="mentorReport.followUpStatusId">
              <option *ngFor="let status of followUpStatuses" [value]="status.value">{{status.label}}</option>
            </select>
                <app-display-errors control="followUpStatusSelector" class="red" [errors]="{
                  'required': 'Summary Status is required'
                }"></app-display-errors>
              </div>

               <div class="controls">
                <label for="inputFollowUpNeeded">Situation Requiring Follow Up (or 'N/A')</label>
                <textarea id="inputFollowUpNeeded" formControlName="inputFollowUpNeeded" [(ngModel)]="mentorReport.followUpNeeded" type="text" class="form-control input-sm"
                  placeholder="Follow up Needed (or 'N/A')">
          </textarea>
                <app-display-errors control="inputFollowUp" class="red" [errors]="{'required': 'An entry is required, even if it is just N/A',
                'maxlength': 'Entry cannot exceed 2000 characters in length.'
                }"></app-display-errors>
              </div>


              <div class="controls">
                <label for="inputFollowUpHistory">Follow-Up History</label>
                <textarea id="inputFollowUpHistory" #summary formControlName="inputFollowUpHistory" [(ngModel)]="mentorReport.followUpHistory" type="text"
                  class="form-control input-sm" placeholder="Please log all updates for this issue here.">
          </textarea>
                <app-display-errors control="followUpHistory" class="red" [errors]="{'required': 'An entry is required, even if it is just N/A',
                'maxlength': 'Entry cannot exceed 2000 characters in length.'
                }"></app-display-errors>
              </div>



          <div class="col-md-6 col-md-offset-1">
            <span>
                  <button class="btn btn-primary"
                  style="width:80px;margin-right:10px"
                  (click)="onSubmit()"
                  >
            Save
                  </button>
            </span>&nbsp;
            <span>
                <button class="btn btn-default"
                  style="width:70px"
                  (click)="onCancel()">
            Cancel
                  </button>
              <!--<div class="red" [hidden]="frmUpdate.valid">Student Summary must be filled in before saving.
              </div>-->
            </span>
            </div>

        </form>
        </div>
      </div>
    </div>
