<div class="card bg-primary">
  <div class="card-header text-white" style="font-size:large"> Student Report Review
  </div>
  <div class="card-body bg-white">
    <span *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</span>
    <span *ngIf="successMessage" class="alert alert-success">{{successMessage}}</span>
    <div>
      <div class="controls">
        Report Year-Period:
        <select name="activePeriodSelector" [(ngModel)]="selectedYearPeriod"
                (change)="setSelectedYearPeriod($event.target.value)">
          <option *ngFor="let yearPeriod of activeQRPeriods" [value]="yearPeriod.value">{{yearPeriod.label}}</option>
        </select>

        <!-- <label for="yearSelector">&nbsp;Report Year/Period:</label>
        <select name="yearSelector" [(ngModel)]="selectedYear" (change)="setSelectedYear($event.target.value)">>
          <option *ngFor="let year of years" [value]="year.value">{{year.label}}</option>
        </select>
        <select name="periodSelector" [(ngModel)]="selectedPeriod" (change)="setSelectedPeriod($event.target.value)">
          <option value="0">[Select]</option>
          <option *ngFor="let period of periods" [value]="period.value">{{period.label}}</option>
        </select> -->

        <span class="checkboxes">
          &nbsp;&nbsp;<label><input type="checkbox" [(ngModel)]="displayOriginalFields">&nbsp;<span>Display Partial
              Description</span></label>
        </span>
      </div>
      <app-ssr-status-counts [year]=selectedYear [period]=selectedPeriod>
      </app-ssr-status-counts>
    </div>

    <div [ngSwitch]="isLoading">
      <div *ngSwitchCase="true" class="text-center col-md-4 col-md-offset-4">
        <app-loading-container>
        </app-loading-container>
      </div>
      <div *ngSwitchCase="false">
        <div class="row" style="border-bottom: 3px solid #ccc; margin-top: 2px;"
             *ngFor="let ssr of studentReportsByPeriod, let i = index">
          <div class="col-md-12">
            <div class="row mx-auto" id='{{"id" + ssr.studentSelfReportId}}'>
              &nbsp;
              <span (click)='gotoStudent(ssr.studentGUId, ssr.studentName)' class="padded link">
                [Student:
                {{ ssr.studentName }} ]
              </span>
              <span class="padded">
                [Sponsor:
                {{ ssr.sponsorGroupName }} ]
              </span>

              <div>
                <span class="padded col-md2">
                  Submitted Date:
                  {{ ssr.reportDateTime | truncateDate }}
                </span>

                <div [hidden]=!displayOriginalFields>
                  <div class="col-md2 padded">
                    Description (Spanish)
                  </div>
                  <div class="col-md-10"
                       [innerHTML]="ssr.narrative_Spanish">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>