<div class="card bg-primary">
  <div class="card-header text-white" style="font-size:large"> Student Report Review
  </div>
  <div class="card-body bg-white">
    <span *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</span>
    <span *ngIf="successMessage" class="alert alert-success">{{successMessage}}</span>

    <div>
      <div class="controls">

        <label for="yearSelector">&nbsp;Report Year/Period:</label>
        <select name="yearSelector" [(ngModel)]="selectedYear" (change)="setSelectedYear($event.target.value)">>
          <option *ngFor="let year of years" [value]="year.value">{{year.label}}</option>
        </select>
        <select name="periodSelector" [(ngModel)]="selectedPeriod" (change)="setSelectedPeriod($event.target.value)">
          <option value="0">[Select]</option>
          <option *ngFor="let period of periods" [value]="period.value">{{period.label}}</option>
        </select>

        <label for="SRReviewedStatusSelector">Reviewed Status:</label>
        <select name="SRReviewedStatusSelector" [(ngModel)]="selectedSRReviewedStatus"
                (change)="setSelectedSRReviewedStatus($event.target.value)">
          <option *ngFor="let status of ssrReviewedStatuses" [value]="status.value">{{status.label}}</option>
        </select>

        <!-- <label>&nbsp;Highlight Status:
          <select name="highlightStatusSelector" [(ngModel)]="selectedHighlightStatus"
                  (change)="setSelectedHighlightStatus($event.target.value)">
            <option *ngFor="let status of highlightStatuses" [value]="status.value">{{status.label}}</option>
          </select>
        </label> -->

        <span class="checkboxes">
          &nbsp;&nbsp;<label><input type="checkbox" [(ngModel)]="displayOriginalFields">&nbsp;<span>Display Full
              Text</span></label>
        </span>
      </div>
      <app-ssr-status-counts [year]=selectedYear [period]=selectedPeriod>
      </app-ssr-status-counts>

    </div>

    <div [ngSwitch]="isLoading">
      <div *ngSwitchCase="true" class="text-center col-md-4 col-md-offset-4">
        <app-loading-container>
        </app-loading-container>
      </div>
      <div *ngSwitchCase="false">
        <div class="row" style="border-bottom: 3px solid #ccc; margin-top: 2px;"
             *ngFor="let ssr of studentReportsByPeriod, let i = index">
          <div class="col-md-12">
            <div class="row" id='{{"id" + ssr.studentSelfReportId}}'>
              &nbsp;
              <button class="btn default-btn btn-primary btn-sm"
                      (click)="gotoReportSummary(ssr.studentSelfReportId,ssr.studentName)">Review</button>
              &nbsp;

              <span (click)='gotoStudent(ssr.studentId, ssr.studentName)' class="padded link">
                [Student:
                {{ ssr.studentName }} ]
              </span>
              <span class="padded">
                [Sponsor:
                {{ ssr.sponsorGroupName }} ]
              </span>

            </div>

            <div class="row">
              <span class="padded col-md2">
                &nbsp;Reviewed Status: {{ ssr.reviewedStatus }}
              </span>
              <!-- <span class="padded">
                &nbsp;Highlight Status: {{ ssr.highlightStatus }}
              </span> -->
            </div>
            <div class="row">
              <span class="padded col-md2">
                &nbsp;Submitted Date:
                {{ ssr.reportDateTime | truncateDate }}
              </span>
              <!-- <span class="padded">
                &nbsp;Emoji:
                <img src="{{smileys[ssr.emoji+1]}}" width="24px" />
              </span>
            </div> -->
              <!--<div class="row">
    <div class="padded">
      &nbsp;Follow-up Needed:
    </div>
    <div class="col-md-10">
      {{ ssr.followUpNeeded }}
    </div>-->
            </div>
            <div class="row" [hidden]=!displayOriginalFields>
              <div class="col-md2 padded">
                &nbsp;Description (English)
              </div>
              <div class="col-md-10"
                   [innerHTML]="ssr.narrative_English | unsafeHtml">
              </div>
            </div>
            <div class="row" [hidden]=!displayOriginalFields>
              <div class="col-md2 padded">
                &nbsp;Description (Spanish)
              </div>
              <div class="col-md-10"
                   [innerHTML]="ssr.narrative_Spanish | unsafeHtml">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>