:host {
  background-color: #D9D9D9;
  display: flex;
  align-items: center;
  height: 35px;
}

nav {
  gap: 1rem;
}

nav a {
  color: #24384D;
  font-family: 'Antonio', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  vertical-align: middle;
}

nav a.active {
  color: #1894A4;
  text-decoration: underline;
}

nav a.active:hover {
  outline: none;
}

nav a:hover,
nav a:focus-visible {
  outline: 1px solid #24384D;
}