<div class="card bg-primary">
  <div class="card-header text-white" style="font-size: large">Editar Mi Reporte</div>
  <div class="card-body bg-white">
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>

    <div class="controls">
      Año/Periodo de este reporte
      <select
        data-cy="period-selector"
        disabled
        [(ngModel)]="selectedQRPeriod"
        (change)="setSelectedQRPeriod($event.target.value )"
      >
        <option *ngFor="let qrPeriod of qrPeriods" [value]="qrPeriod.value">{{ qrPeriod.label }}</option>
      </select>
    </div>

    <form [formGroup]="myForm">
      <fieldset [disabled]="submitted">
        <div class="form-group">
          <div hidden class="controls">
            <label for="selfReportId">Id</label>
            <textarea id="selfReportId" formControlName="selfReportId" type="text" class="form-control input-sm">
            </textarea>
          </div>
          <pre style="font-size: 120%">
            PREGUNTAS (Recuerda redactar tus respuestas a manera de ensayo)

            1.	¿Cuál ha sido tu emoción más predominante en los últimos 3 meses
              y a qué crees que se deba?
            2.	En este punto de tu vida ¿cómo te sientes contigo mismo?
              más allá de bien o mal. Describe.
            3.	¿Cuál es la presión más grande que sientes en la escuela,
              qué es lo que más te preocupa y por qué?
            4.	¿Cuál es la presión social que sientes sobre tus hombros?
            5.	¿Hay alguna situación personal que te esté complicando
              el concentrarte en clase?
            6.	Si tuvieras una varita mágica que resolviera o desapareciera
              lo que más te preocupa ¿Qué elegirías resolver?
          </pre>
          <div style="color:mediumblue"><i><b>
            Si desea que el texto en inglés se traduzca de nuevo, elimínelo antes de introducir un nuevo texto en español.)</b></i>
          </div>
          <div class="controls">
            <textarea
              id="narrative_Spanish"
              #success
              formControlName="narrative_Spanish"
              type="text"
              class="form-control input-sm narrative"
              placeholder=""
            >
            </textarea>
            <app-display-errors
              control="narrative_Spanish"
              class="red"
              [errors]="{
                required: 'Se requiere una entrada, aun si es sólo N/A.',
                maxlength: 'La entrada no puede exceder 4000 caracteres del largo.'
              }"
            ></app-display-errors>
          </div>
          <div>&nbsp;</div>

          <div class="controls">

            <textarea
              id="narrative_English"
              #success
              formControlName="narrative_English"
              type="text"
              class="form-control inpu-sm narrative"
              placeholder=""
            >
            </textarea>
            <app-display-errors
              control="narrative_English"
              class="red"
              [errors]="{
                maxlength: 'Entry cannot exceed 4000 characters in length.'
              }"
            ></app-display-errors>
          </div>

          <div class="col-md-6 col-md-offset-1">
            <span>
              <button class="btn btn-primary" style="width: 90px; margin-right: 10px" (click)="onSubmit()">
                Guardar
              </button> </span
            >&nbsp;
            <span>
              <button type="button" class="btn btn-default" style="width: 95px" (click)="onCancel()">Cancelar</button>
              <div class="red" [hidden]="myForm.valid">
                Descripción rellenarse antes de guardar.
              </div>
            </span>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
