<div class="card bg-primary">
  <div class="card-header text-white" style="font-size: large">Editar Mi Reporte</div>
  <div class="card-body bg-white">
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>

    <div class="controls">
      Año/Periodo de este reporte
      <select
        data-cy="period-selector"
        disabled
        [(ngModel)]="selectedQRPeriod"
        (change)="setSelectedQRPeriod($event.target.value )"
      >
        <option *ngFor="let qrPeriod of qrPeriods" [value]="qrPeriod.value">{{ qrPeriod.label }}</option>
      </select>
    </div>

    <form [formGroup]="myForm">
      <fieldset [disabled]="submitted">
        <div class="form-group">
          <div hidden class="controls">
            <label for="selfReportId">Id</label>
            <textarea id="selfReportId" formControlName="selfReportId" type="text" class="form-control input-sm">
            </textarea>
          </div>
          <pre style="font-size: 120%">
            REDACTA A MANERA DE ENSAYO LAS RESPUESTAS A ESTAS PREGUNTAS:

            1.	Académicamente, ¿cómo te sentiste este último periodo escolar? Describe.
            2.	¿Qué fue lo que más disfrutaste hacer en tu carrera? Algún proyecto,
                evento, etc. Cuéntanos.
            3.	¿Qué es lo que más agradeces de éste año?
            4.	Qué metas u objetivos tienes en mente para este 2024

          </pre>
          <div style="color:mediumblue"><i><b>
            Si desea que el texto en inglés se traduzca de nuevo, elimínelo antes de introducir un nuevo texto en español.)</b></i>
          </div>
          <div class="controls">
            <textarea
              id="narrative_Spanish"
              #success
              formControlName="narrative_Spanish"
              type="text"
              class="form-control input-sm narrative"
              placeholder=""
            >
            </textarea>
            <app-display-errors
              control="narrative_Spanish"
              class="red"
              [errors]="{
                required: 'Se requiere una entrada, aun si es sólo N/A.',
                maxlength: 'La entrada no puede exceder 4000 caracteres del largo.'
              }"
            ></app-display-errors>
          </div>
          <div>&nbsp;</div>

          <div class="controls">

            <textarea
              id="narrative_English"
              #success
              formControlName="narrative_English"
              type="text"
              class="form-control inpu-sm narrative"
              placeholder=""
            >
            </textarea>
            <app-display-errors
              control="narrative_English"
              class="red"
              [errors]="{
                maxlength: 'Entry cannot exceed 4000 characters in length.'
              }"
            ></app-display-errors>
          </div>

          <div class="col-md-6 col-md-offset-1">
            <span>
              <button class="btn btn-primary" style="width: 90px; margin-right: 10px" (click)="onSubmit()">
                Guardar
              </button> </span
            >&nbsp;
            <span>
              <button type="button" class="btn btn-default" style="width: 95px" (click)="onCancel()">Cancelar</button>
              <div class="red" [hidden]="myForm.valid">
                Descripción rellenarse antes de guardar.
              </div>
            </span>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
