<div class="card bg-primary">
  <div class="card-header text-white" style="font-size:large">
    Mi Reporte
  </div>
  <div class="card-body bg-white">
    <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
    <div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>
    <form [formGroup]="myForm">
      <fieldset [disabled]="isSubmitted">
        <div class="form-group">
          <div hidden class="controls">
            <label for="selfReportId">Id</label>
            <textarea id="selfReportId"
                      formControlName="selfReportId"
                      type="text"
                      class="form-control input-sm">
                </textarea>
          </div>
          <pre style="font-size: 120%">
            Aspectos generales.
              1.	Académicamente ¿Qué aprendizajes importantes has tenido en este periodo?
              2.	Si llevaste a cabo o estas llevando a cabo algún proyecto escolar, cuéntanos de que se trata.
              3.	Si tu proyecto no es escolar, pero es de apoyo a tu comunidad, también cuéntanos, nos encantará saberlo.
              4.	¿Actualmente estás trabajando? En caso de que sí en donde, cuales son tus horarios y que actividades realizas.
              5.	Laboralmente ¿Qué aprendizaje has tenido en este periodo?
            Respecto al estado de Cuarentena por el que todos estamos pasando,
              &gt;	¿Cómo ha impactado esto en sus vidas?
              &gt;	Emocionalmente ¿Cómo se encuentran?
              &gt;	Cómo está sobrellevando esta situación su familia.
              &gt;	¿Económicamente cómo les está afectando?
              &gt;	¿Qué indicaciones tienen de sus universidades mientras las clases presenciales están suspendidas?
              &gt;	Si se quedan en casa ¿tienen los medios (principalmente internet) para seguir con clases online?
              &gt;	Los que están en último año o semestre, ¿ya recibieron alguna indicación por parte de las universidades? ¿cambiara su fecha de graduación o por el momento siguen con el plan original?
              &gt;	Los que están haciendo practicas ¿están suspendidas o les piden seguir yendo normal?
              &gt;	¿Están inscritos en alguna plataforma o aplicación de inglés para aprovechar el "encierro" y avanzar en esa parte?
              &gt;	¿Qué acciones están tomando por esta crisis sanitaria?.
              &gt;	¿Cuando suspendieron  clase?
              &gt;	¿Que están haciendo en su comunidad? (posibles afectaciones)
            </pre>

          <div class="controls">
            <label for="narrative_Spanish">Texto Español</label>
            <textarea id="narrative_Spanish" #success
                      formControlName="narrative_Spanish"
                      type="text"

                      class="form-control input-sm narrative" placeholder="">
                </textarea>
            <app-display-errors control="narrative_Spanish" class="red"
                                [errors]="{'required': 'Se requiere una entrada, aun si es sólo N/A.',
                'maxlength': 'La entrada no puede exceder 4000 caracteres del largo.'
                      }"></app-display-errors>
          </div>

          <div class="controls">
            <label for="narrative_English">English Text</label>
            <textarea id="narrative_English" #success
                      formControlName="narrative_English"
                      type="text"

                      class="form-control inpu-sm narrative" placeholder="">
              </textarea>
            <app-display-errors control="narrative_English" class="red"
                                [errors]="{'required': 'An entry is required, even if it is just N/A.',
              'maxlength': 'Entry cannot exceed 4000 characters in length.'
                    }"></app-display-errors>
          </div>

          <div class="col-md-6 col-md-offset-1">
            <span>
              <button class="btn btn-primary"
                      style="width:90px;margin-right:10px"
                      (click)="onSubmit()">
                Guardar
              </button>
            </span>&nbsp;
            <span>
              <button type="button"
                      class="btn btn-default"
                      style="width:95px"
                      (click)="onCancel()">
                Cancelar
              </button>
              <div class="red" [hidden]="myForm.valid">Year, Month, Emoji and description must be
                filled in before saving.<br />Año, mes, Emoji y descripción rellenarse antes de guardar.</div>
            </span>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>