
  <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
  <div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>
  <div [ngSwitch]="isLoading">
    <div *ngSwitchCase="true" class="text-center col-md-4 col-md-offset-4">
      <app-loading-container>
      </app-loading-container>
    </div>
    <div *ngSwitchCase="false">

    <form [formGroup]="profileForm" class="form-horizontal" >

        <div class="form-group">
          <div class="controls">
            <label for="inputAdminFName">First Name(s)</label>
            <input id="inputAdminFName"
                  formControlName="inputAdminFName"
                  [(ngModel)]="admin.firstNames"
                  class="form-control input-sm" type="text" placeholder="First Name"
                  />
            <app-display-errors control="inputAdminFName" class="red"
              [errors]="{
                'required': 'First name is required',
                'maxlength': 'Admin First name cannot exceed 30 characters in length.'
              }"></app-display-errors>
          </div>
        </div>

        <div class="form-group">
          <div class="controls">
            <label for="inputAdminLName">Last Name(s)</label>
            <input id="inputAdminLName"
                   formControlName="inputAdminLName"
                   [(ngModel)]="admin.lastNames"
                   type="text" class="form-control input-sm" placeholder="Last Name"
                   />
            <app-display-errors control="inputAdminLName" class="red"
              [errors]="{
                'required': 'Last name is required',
                'maxlength': 'Admin Last name cannot exceed 30 characters in length.'
              }"></app-display-errors>
          </div>
        </div>

        <div class="form-group" >
          <div class="controls">
            <label for="inputAdminPhone">SMA Phone</label>
            <input id="inputAdminPhone"
                  formControlName="inputAdminPhone"
                  [(ngModel)]="admin.sma_Phone"
                  type="text" class="form-control input-sm" placeholder="Phone while in SMA: ###-###-####"
                  />
            <app-display-errors control="inputAdminPhone" class="red"
              [errors]="{
                'required': 'SMA Phone is required.',
                'minlength': 'SMA Phone must be at least 7 characters in length.',
                'maxlength': 'SMA Phone cannot exceed 13 characters in length.'
              }"></app-display-errors>
          </div>
        </div>

        <div class="form-group">
          <div class="controls">
            <label for="inputMonthsinSma">Months Expected to be in SMA the coming year (e.g., 'All' or 'Jan, Feb,...')</label>
            <input id="inputMonthsinSma"
                  formControlName="inputMonthsinSma"
                  [(ngModel)]="admin.monthsinSma"
                  type="text" class="form-control input-sm" placeholder="Months in SMA"
                  />
            <app-display-errors control="inputMonthsinSma" class="red"
              [errors]="{
                'required': 'Months in SMA is required.'
              }"></app-display-errors>
          </div>
        </div>


        <div class="form-group">
          <div class="controls">

          <label for="SpanishLevelSelector">Spanish Level:</label>
          <select formControlName="SpanishLevelSelector"
                  class="form-control input-sm"
              [(ngModel)]="admin.spanishSkillLevelId">
            <option *ngFor="let status of statuses" [value]="status.statusId">{{status.label}}</option>
          </select>
            <app-display-errors control="SpanishLevelSelector" class="red"
              [errors]="{
                'required': 'Spanish Skill Level is required'
              }"></app-display-errors>
          </div>
        </div>


        <div class="form-group">
          <div class="controls">
          <label for="EnglishLevelSelector">English Level:</label>
          <select formControlName="EnglishLevelSelector"
                  class="form-control input-sm"
              [(ngModel)]="admin.englishSkillLevelId" >
            <option *ngFor="let status of statuses" [value]="status.statusId">{{status.label}}</option>
          </select>
            <app-display-errors control="EnglishLevelSelector"
              [errors]="{
                'required': 'English Skill Level is required'
              }"></app-display-errors>
          </div>
        </div>

        <div class="form-group">
          <div class="controls">
            <button class="btn btn-default"
            (click)="saveProfile()"
            [disabled]="!profileForm.valid">
            Save
            </button>
            <span class="red" [hidden]="profileForm.valid">All required fields must be filled in before saving.</span>
          </div>
        </div>
    </form>
    </div>
  </div>


