<div class="card bg-primary" style=" min-width: 46em">
  <div class="card-header text-white" style="font-size:large">
    Añadir Nuevo Reporte
  </div>
  <div class="card-body bg-white" style="min-width: 46em">
    <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
    <div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>

    <form [formGroup]="myForm">
      <fieldset [disabled]="submitted">
        <div class="form-group">
          <div class="controls">
            <label for="reportYear"> Año/Periodo de este reporte</label>
            <select formControlName="reportYear" [(ngModel)]="selfReport.reportYear">
              <option *ngFor="let year of periodYears" [value]="year.value">{{year.label}}</option>
            </select>

            <select formControlName="reportPeriod" [(ngModel)]="selfReport.reportPeriod">
              <option *ngFor="let month of periodMonths" [value]="month.value">{{month.label}}</option>
            </select>
          </div>
          <!-- <span *ngIf="!reportPeriod.valid &amp;&amp; reportPeriod.touched" class="red"> Month is required</span> -->
        </div>
        <pre style="font-size: 120%">
    •	Actualización de su situación actual  personal, familiar, salud mental-emocional,
    ¿Qué están haciendo para sobrellevar la situación?

    •	¿Ha habido algún enfermo en la familia?.

    •	Actualización de sus Universidades : ¿Seguiran en línea?, los que estaban en prácticas
    ¿como concluyeron o cómo continuarán?.

    •	Los que están por salir ¿Cómo ven su futuro laboral?,
    ¿cómo ha repercutido esta contingencia en su visión como profesionales?,
    ¿qué opciones han empezado a revisar?.

    •	Durante el tiempo que llevan en cuarentena ¿como se han cuidado ustedes y su familia?.

    •	¿Cómo se han ido adaptando a esta "Nueva normalidad"? ,
    ¿que pensamiento tienen acerca de ella, que se dicen para hacer frente a esta situación?.

    •	Económicamente hablando, ¿sus escuelas han ofrecido algún tipo de apoyo
    o descuento en colegiatura y reinscripciones?.
</pre>
        <textarea id="narrative_English" #success formControlName="narrative_English"
                  #narrative_English
                  [(ngModel)]="selfReport.narrative_English" type="text"

                  class="form-control input-sm narrative" placeholder="">
          </textarea>
        <span class="form-text text-muted"><code>{{narrative_English.value.length}}</code> of <code>4500</code>
          characters</span>

        <app-display-errors control="narrative_English" class="red"
                            [errors]="{'required': 'An entry is required, even if it is just N/A',
                'maxlength': 'Entrada no puede exceder los 4500 caracteres.'
                }"></app-display-errors>

        <div class="col-md-6 col-md-offset-1">
          <span>
            <button class="btn btn-primary"
                    style="width:90px;margin-right:10px;margin-top:5px"
                    (click)="onSubmit()">
              Guardar

            </button>
          </span>&nbsp;
          <span>
            <button class="btn btn-default"
                    style="width:90px;margin-top:5px"
                    (click)="onCancel()">
              Cancelar
            </button>
            <div class="red" [hidden]="myForm.valid">Año, Periodo, y texto de reporte deben ser completados
              correctamente y no más de 4500 caracteres
              antes de guardar.</div>
          </span>
        </div>
      </fieldset>
    </form>
  </div>
</div>