<div class="card bg-primary" style=" min-width: 46em">
  <div class="card-header text-white" style="font-size:large">
    Añadir Nuevo Reporte
  </div>
  <div class="card-body bg-white" style="min-width: 46em">
    <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
    <div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>

    <form [formGroup]="myForm">
      <fieldset [disabled]="submitted">
        <div class="form-group">
          <div class="controls">
            <label for="reportYear"> Año/Periodo de este reporte</label>
            <select formControlName="reportYear" [(ngModel)]="selfReport.reportYear">
              <option *ngFor="let year of periodYears" [value]="year.value">{{year.label}}</option>
            </select>

            <select formControlName="reportPeriod" [(ngModel)]="selfReport.reportPeriod">
              <option *ngFor="let month of periodMonths" [value]="month.value">{{month.label}}</option>
            </select>
          </div>
          <!-- <span *ngIf="!reportPeriod.valid &amp;&amp; reportPeriod.touched" class="red"> Month is required</span> -->
        </div>
        <!-- <pre style="font-size: 120%">
          REDACTA TU REPORTE EN FORMA DE ENSAYO CONSIDERANDO LOS SIGUIENTES PUNTOS
          1. Que es lo que más les ha gustado, lo que mas les ha sorprendido y lo que menos
             les ha gustado del periodo(semestre o cuatrimestre terminado)
          2. Cuál es el mayor reto al que se han enfrentado este semestre o cuatrimestre.
          3. Cuál ha sido su mayor logro académico este semestre o cuatrimestre.
          4. Que proyectos realizaron ya sea en la escuela o en su comunidad.
          5. De los talleres que ha brindado Jóvenes Adelante, ¿Cuál te ha gustado más o lo haz
             aplicado realmente? ¿Qué taller te gustaría o sientes que les podría ser de utilidad?
          6. Como es su vida actualmente, sus horarios de clase, si alguno de ustedes trabajan,
             donde está trabajando, cuál es su función, porque decidieron empezar a trabajar, que
             aprendizajes han obtenido de su trabajo y que es lo que les ha costado más trabajo.
          7. Cuál ha sido su mayor aprendizaje de vida  hasta ahora
          8. Profesionalmente hacia donde están apuntando, es decir para donde quieren ir y
             que están haciendo hoy por llegar ahí.
          9. Cuál es su sueño y como los está apoyando Jóvenes Adelante.
          10.Tienen algún pasatiempo, talento o deporte que realicen, platíquenos sobre ello.

          (Sugerimos escribir su ensayo en un documento y pegarla abajo.)</pre> -->
        <pre style="font-size: 120%">
REDACTA TU REPORTE EN FORMA DE ENSAYO CONSIDERANDO LOS SIGUIENTES PUNTOS
1.	¿Qué  metas lograron este 2019?
2.	¿Cuál fué tu lección más grande del 2019?
3.	Dónde, en qué o con quién haz encontrado más calma y paz en este año
4.	Si pudieras pedir 3 deseos, los que tu quieras, para este 2020  ¿Cuáles serían?
5.	¿Qué actividades has llevado a cabo este año de las que te sientes orgulloso y satisfecho?
6.	¿Qué vínculos has creado en este año que te han fortalecido y aportado luz a tu vida?
7.	¿Cuáles han sido los momento más felices de este año que termina?
8.	¿Que habilidades has desarrollado o detectado en ti este año?
9.	¿Cuál es el cambio más significativo en ti que has experimentado en estos 12 meses?
10.	¿Cuáles han sido tus mayores miedos en esta etapa y tus mayores aliados para afrontarlos?
11.	¿Qué decisiones difíciles has tomado que ahora sabes te permitieron dar un cambio positivo a tu vida?
12.	Si tuvieras a tu disposición un Miyagi como en Karate Kid ¿Qué te gustaría que te enseñara? (no tienen que ser artes marciales)
13.	Cuéntanos de 2 personas que hayan sido muy influyentes para tí este año
14.	Si tuvieras enfrente a la persona que apostó por tí, que creyó en que TÚ PODÍAS , QUE TÚ LO LOGRARÍAS y que hoy por  hoy paga tu beca...¿Qué le dirías?
15.	Para los que se Graduaron en este año ¿Hacía donde irán, cuáles son son nuevos proyectos?
(Sugerimos escribir su ensayo en un documento y pegarla abajo.)
Ten en cuenta que tu texto debe contener menos de 4500 caracteres.</pre>

        <textarea id="narrative_English" #success formControlName="narrative_English"
                  #narrative_English
                  [(ngModel)]="selfReport.narrative_English" type="text"

                  class="form-control input-sm narrative" placeholder="">
          </textarea>
        <span class="form-text text-muted"><code>{{narrative_English.value.length}}</code> of <code>4500</code>
          characters</span>

        <app-display-errors control="narrative_English" class="red"
                            [errors]="{'required': 'An entry is required, even if it is just N/A',
                'maxlength': 'Entrada no puede exceder los 4500 caracteres.'
                }"></app-display-errors>

        <div class="col-md-6 col-md-offset-1">
          <span>
            <button class="btn btn-primary"
                    style="width:90px;margin-right:10px;margin-top:5px"
                    (click)="onSubmit()">
              Guardar

            </button>
          </span>&nbsp;
          <span>
            <button class="btn btn-default"
                    style="width:90px;margin-top:5px"
                    (click)="onCancel()">
              Cancelar
            </button>
            <div class="red" [hidden]="myForm.valid">Año, Periodo, y texto de reporte deben ser completados
              correctamente y no más de 4500 caracteres
              antes de guardar.</div>
          </span>
        </div>
      </fieldset>
    </form>
  </div>
</div>