.titulo{
  font-size: 35px;
  font-weight: bold;
  padding: 40px 40px 13px ;
}
.subtitulo{
  font-size: 30px;
  text-align: center;
  margin: 13px auto 15px auto;
}

.bordeRojo{
  border: 2px solid #FF0000 ;
}
.bordeVerde{
  border: 2px solid #147C12 ;
}
.bordeAzul{
  border: 2px solid #303A54 ;
}
.areatexto{
    height: 300px;
    width:calc(100% - 6px);
    max-width: 100% !important;
    border: none !important; 
    background-color: #E4E8EA;
}
.areatexto:focus{
    outline:none;
} 
.cuadroTexto{
    background-color: #E4E8EA;
    min-width: calc(385px - 6em);
  
}
.textoError{
  color: #f00 ;
}
.conteoCaracteres{
  color: #303A54;
  font-weight: bold;
}
.btnGuardar{
  background-color: #147C12;
}
.btnCancelar{
  background-color: #f00;
}





:host {
  display: block;
  padding: 0 16px;
}

label {
  padding-top: 10px;
}

radio.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid,
input.ng-touched.ng-invalid,
select.ng-touched.ng-invalid {
  border: 1px solid #a94442; /* red */
  border-left: 5px solid #a94442; /* red */
 }

/*.ng-valid[required] {*/
radio.ng-valid,
textarea.ng-valid,
input.ng-valid,
select.ng-valid {
  border-left: 5px solid #42A948; /* green */
}

radio.ng-invalid,
textarea.ng-invalid,
input.ng-invalid,
select.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

.red {
  color: #a94442;
  font-weight: bold;
}
