<div class="card bg-primary">
  <div class="card-header text-white" style="font-size:large">
    Añadir Nueva Mi Reporte
  </div>
  <div class="card-body bg-white">
    <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
    <div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>

    <form [formGroup]="myForm">
      <fieldset [disabled]="submitted">
        <div class="form-group">
          <div class="controls">
            <label for="reportYearSelector"> Año/Periodo de esta Periodo</label>
            <select formControlName="reportYearSelector" [(ngModel)]="selfReport.reportYear">
              <option *ngFor="let year of periodYears" [value]="year.value">{{year.label}}</option>
            </select>

            <select formControlName="reportPeriodSelector" [(ngModel)]="selfReport.reportPeriod">
              <option *ngFor="let month of periodMonths" [value]="month.value">{{month.label}}</option>
            </select>
          </div>
          <span *ngIf="!reportPeriod.valid &amp;&amp; reportPeriod.touched" class="red"> Month is required</span>
        </div>


        <div class="controls">
          <label for="inputReportText">Texto de Reporte</label>
          <textarea id="inputReportText" #success formControlName="inputReportText"
                    [(ngModel)]="selfReport.narrative_English" type="text"
                    class="form-control input-sm" placeholder="">
          </textarea>
          <app-display-errors control="inputNarrative_English" class="red" [errors]="{'required': 'An entry is required, even if it is just N/A',
                'maxlength': 'Entrada no puede exceder los 4000 caracteres.'
                }"></app-display-errors>
        </div>

        <div class="col-md-6 col-md-offset-1">
          <span>
            <button class="btn btn-primary"
                    style="width:80px;margin-right:10px"
                    (click)="onSubmit()">
              Guardar

            </button>
          </span>&nbsp;
          <span>
            <button class="btn btn-default"
                    style="width:90px"
                    (click)="onCancel()">
              Cancelar
            </button>
            <div class="red" [hidden]="myForm.valid">Año, Periodo, y texto de reporte deben ser completados
              correctamente
              antes de guardar.</div>
          </span>
        </div>
      </fieldset>
    </form>
  </div>
</div>