<div class="row">
  <div class="col">
    <ngb-tabset>

      <ngb-tab title="Student Search">
        <ng-template ngbTabContent>
          <app-admins-student-search></app-admins-student-search>
        </ng-template>
      </ngb-tab>

      <ngb-tab title="Student List">
        <ng-template ngbTabContent>
          <app-admins-student-list></app-admins-student-list>
        </ng-template>
      </ngb-tab>

      <ngb-tab title="Student Profile">
        <ng-template ngbTabContent>
          <app-admins-student-profile></app-admins-student-profile>
        </ng-template>
      </ngb-tab>

    </ngb-tabset>
  </div>
</div>