<div class="container-fluid px-0 h-100">
    <div class="row m-0">
        <div class="col p-0">
            <app-headerbar></app-headerbar>
            <router-outlet></router-outlet>
            <footer class="align-items-center d-flex p-1 main-blue-bg"  >
                <!-- Copyright information -->
                <a height="42" href="https://auth0.com/?utm_source=oss&utm_medium=gp&utm_campaign=oss"
                    target="_blank" alt="Single Sign On & Token Based Authentication - Auth0"><img
                        height="42" alt="JWT Auth for open source projects"
                        src="//cdn.auth0.com/oss/badges/a0-badge-light.png" /></a>
                <p class="pl-3 m-0">
                    v 11.0.1 Copyright &copy; 2024 <a href="http://www.jovenesadelante.org">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <u>Jóvenes Adelante main site</u></a>
                </p>
            </footer>
        </div>
    </div>
</div>