<span *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</span>
<span *ngIf="successMessage" class="alert alert-success">{{successMessage}}</span>
<div [ngSwitch]="isLoading">
  <div *ngSwitchCase="true" class="text-center col-md-4 col-md-offset-4">
    <app-loading-container>
    </app-loading-container>
  </div>
  <div *ngSwitchCase="false">
    <div *ngIf="!errorMessage" class="card bg-warning">
      <div class="card-header text-white" style="font-size:large">
        <span>Current Requests / Solicitudes Corrientes </span>
        <span>{{studentName}}</span>
        <span>
          <span>
            <span class="btn btn-default active" (click)="followUpRequestAdd()" style="margin-left:10px">
              Add New FollowUpRequest
            </span>
          </span>
        </span>
        <span class="checkboxes">
            &nbsp;&nbsp;<input type="checkbox" [(ngModel)]="displayCompleteHistory">&nbsp;<span>Display Complete History</span>
          </span>
      </div>
      <app-follow-up-requests-list  [followUpRequests]="followUpRequests"
       [displayCompleteHistory]="displayCompleteHistory"
       [showAddDetails]="true"
       ></app-follow-up-requests-list>

    </div>
  </div>
</div>