<nav>
  <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
     [routerLink]="['/quarterly']">Welcome</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/quarterly/ja-comments']">JA Comments</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/quarterly/mr-consolidated']">Consolidated MR Rpts</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/quarterly/self-reports']">Student Self Rpts</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/quarterly/sponsor-view']">Sponsor View</a>
</nav>