<label for='search-string'>Search for Member:</label> &nbsp;&nbsp;&nbsp;&nbsp;Or: <span
      (click)="gotoMemberList()" style="margin-bottom: 2px;"
      class="btn btn-sm btn-primary">Go to Members
  List</span>
<input id='search-string'
       type='text'
       class='form-control'
       [editable]='false'
       [class.is-invalid]="searchFailed"
       [(ngModel)]='memberMiniDTO'
       [ngbTypeahead]='search'
       [inputFormatter]="formatter"
       [resultFormatter]="formatter"
       (selectItem)="onSelect($event)"
       placeholder="Last Name or First Name or Email" />
<div class="row">

  <!-- <span [hidden]="currentGUId=='0000'" style="margin-top: 1rem;margin-left: 1rem;" (click)="gotoMember()"
        class="btn btn-sm btn-primary">Member Profile
  </span> -->
</div>
<div class="row">
  <span [hidden]="currentGUId=='0000'" style="margin-top: .4rem;margin-left: 1rem;" (click)="gotoMember()"
        class="link">Member Profile: {{ memberName }}
  </span>
  <br />
  <span [hidden]="currentGUId=='0000'" style="margin-left:1rem;margin-top: .2rem;">
    Email: {{ email }}
  </span>
</div>