<div class="row">
  <div class="col-12">
    <app-student-header-sponsors> </app-student-header-sponsors>
  </div>
</div>
<div class="col">
  <div class="card bg-primary">
    <div class="card-header text-white">
      <span style="font-size: large"> Quarterly Reports </span>
      <span style="margin-left: 10rem">
        Report for Quarter:
        <select name="activePeriodSelector" data-cy="period-selector" [(ngModel)]="selectedQRPeriod"
          (change)="setSelectedQRPeriod($event.target.value)">
          >
          <option *ngFor="let yearPeriod of qrPeriods" [value]="yearPeriod.value">{{ yearPeriod.label }}</option>
        </select>
      </span>
    </div>
    <div class="card-body bg-white">
      <nav ngbNav #nav1="ngbNav" class="nav-tabs">
        <ng-container ngbNavItem>
          <a ngbNavLink>Student Reports</a>
          <ng-template ngbNavContent>
            <app-self-reports showOnlyIfStatusIsSent="true">
            </app-self-reports>
          </ng-template>
        </ng-container>

        <ng-container ngbNavItem>
          <a ngbNavLink>Mentor Reports</a>
          <ng-template ngbNavContent>
            <app-mr-consolidated>
            </app-mr-consolidated>
          </ng-template>
        </ng-container>

        <ng-container ngbNavItem>
          <a ngbNavLink>JA Comments</a>
          <ng-template ngbNavContent>
            <app-ja-comments>
            </app-ja-comments>
          </ng-template>
        </ng-container>
      </nav>
      <div [ngbNavOutlet]="nav1" class="mt-2"></div>
    </div>
  </div>
</div>