<div class="row">
  <div class="col">
    <nav ngbNav #nav1="ngbNav" class="nav-tabs">
      <ng-container ngbNavItem>
        <a ngbNavLink>Mentor Report Review</a>
        <ng-template ngbNavContent>
          <app-mr-summary-tracking>
          </app-mr-summary-tracking>
        </ng-template>
      </ng-container>

      <ng-container ngbNavItem>
        <a  ngbNavLink>Submitted Count</a>
        <ng-template ngbNavContent>
          <app-mr-submitted-count>
          </app-mr-submitted-count>
        </ng-template>
      </ng-container>
    </nav>
    <div [ngbNavOutlet]="nav1" class="mt-2"></div>
  </div>
</div>