<div class="panel panel-primary">
  <div class="panel-heading" style="font-size:large"> Mentor Report Summary Tracking
  </div>
<div class="panel-body">
  <span *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</span>
  <span *ngIf="successMessage" class="alert alert-success">{{successMessage}}</span>

    <div>
        <div class="controls">

          <label for="yearSelector">&nbsp;Report Year/Month:</label>
          <select name="yearSelector" [(ngModel)]="selectedYear" (change)="setSelectedYear($event.target.value)">>
            <option *ngFor="let year of years" [value]="year.value">{{year.label}}</option>
          </select>
          <select name="monthSelector" [(ngModel)]="selectedMonth" (change)="setSelectedMonth($event.target.value)">
            <option *ngFor="let month of months" [value]="month.value">{{month.label}}</option>
          </select>

          <label for="MRSummaryStatusSelector">Summary Status:</label>
          <select name="MRSummaryStatusSelector" [(ngModel)]="selectedMRSummaryStatus" (change)="setSelectedMRSummaryStatus($event.target.value)">
            <option *ngFor="let status of mrSummaryStatuses" [value]="status.value">{{status.label}}</option>
          </select>

          <label for="highlightStatusSelector">&nbsp;Highlight Status:</label>
          <select name="highlightStatusSelector" [(ngModel)]="selectedHighlightStatus" (change)="setSelectedHighlightStatus($event.target.value)">
            <option *ngFor="let status of highlightStatuses" [value]="status.value">{{status.label}}</option>
          </select>

        </div>
        <app-status-counts [year]=selectedYear [month]=selectedMonth>
        </app-status-counts>

    </div>

  <div [ngSwitch]="isLoading">
    <div *ngSwitchCase="true" class="text-center col-md-4 col-md-offset-4">
      <app-loading-container>
      </app-loading-container>
    </div>
    <div *ngSwitchCase="false">
      <div class="row" style="border-bottom: 3px solid #ccc; margin-top: 2px;"
                  *ngFor="let lmr of mentorReportByMonth, let i = index">
<div class="col-md-12">

  <div class="row" id= '{{"id" + lmr.mentorReportId}}'>
          &nbsp;
          <button class="btn default-btn"  (click)="gotoMentorReport(lmr.mentorReportId)">Review</button>
        &nbsp;

    <span class="padded link">
              [Student:
              {{ lmr.studentName }} ]
          </span>
    <span class="padded">
              [Mentor:
              {{ lmr.mentorName }} ]
          </span>
    <span class="padded">
              [Sponsor:
              {{ lmr.sponsorLastName }}, {{ lmr.sponsorFirstName}} ]
          </span>

  </div>

  <div class="row">
    <span class="padded">
              &nbsp;Mentor Report Summary Status: {{ lmr.sponsorSummaryStatus }}
    </span>
    <span class="padded">
              &nbsp;Highlight Status: {{ lmr.highlightStatus }}
    </span>
  </div>
  <div class="row">
    <span class="padded">
            &nbsp;Report Date:
            {{ lmr.reportDateTime | truncateDate }}
          </span>
    <span class="padded">
            &nbsp;Last Contact Month:

           {{ lmr.latestMonth }}
          </span>
    <span class="padded">
            &nbsp;Student Snapshot:
            <img src="{{smileys[lmr.mentorReportSnapshot+1]}}" width="24px" />
          </span>
  </div>
  <!--<div class="row">
    <div class="padded">
      &nbsp;Follow-up Needed:
    </div>
    <div class="col-md-10">
      {{ lmr.followUpNeeded }}
    </div>
  </div>-->
  <div class="row">
    <div class="col-md2 padded">
      &nbsp;Positive Events:
    </div>
    <div class="col-md-10">
      {{ lmr.recentSuccess }}
    </div>
  </div>
  <div class="row">
    <div class="padded">
      &nbsp;Challenges:
    </div>
    <div class="col-md-10">
      {{ lmr.recentSetback }}
    </div>
  </div>
  <div class="row">
    <div class="padded">
           Summary   <!--[{{ lmr.mentorPreferredLanguageId | alphaLanguage }} --&gt; {{ lmr.mrPreferredLanguageId | alphaLanguage }} {{ translationNeeded(lmr.mentorPreferredLanguageId,lmr.mrPreferredLanguageId) }}]-->
    </div>
    <div class="col-md-10">
      {{ lmr.sponsorSummary }}
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>


l
