<div class="row">
  <div class="col-12">
    <app-student-header-quarterly (onStudentGUIdSet)="onStudentGUIdReceived($event)">
    </app-student-header-quarterly>
  </div>
</div>
<div *ngIf="studentGUIdReceived">
  <div class="col">
    <div class="card bg-primary">
      <div class="card-header text-white">
        <span style="font-size:large">
          Quarterly Reports
        </span>
        <span style="margin-left:5rem">
          Report Year-Period:
          <select name="activePeriodSelector" [(ngModel)]="selectedYearPeriod"
                  (change)="setSelectedYearPeriod($event.target.value)">
            <option *ngFor="let yearPeriod of activeQRPeriods" [value]="yearPeriod.value">{{yearPeriod.label}}</option>
          </select>
        </span>

        <span style="margin-left:5rem">
          Set Report Status:
          <select name="StatusSelector" [(ngModel)]="selectedReviewedStatusID"
                  (change)="setStatusForQR( $event.target.value)">
            <option *ngFor="let status of reviewedStatuses" [value]="status.value">{{status.label}}
            </option>
          </select>
        </span>
      </div>
      <div class="card-body bg-white">
        <ngb-tabset>
          <ngb-tab title="Student Reports">
            <ng-template ngbTabContent>
              <app-self-reports [bEditable]="true" [selectedYear]="selectedYear" [selectedPeriod]="selectedPeriod">
              </app-self-reports>
            </ng-template>
          </ngb-tab>

          <ngb-tab title="Mentor Reports">
            <ng-template ngbTabContent>
              <app-mr-consolidated [bEditable]="true" [selectedYear]="selectedYear" [selectedPeriod]="selectedPeriod">
              </app-mr-consolidated>
            </ng-template>
          </ngb-tab>

          <ngb-tab title="JA Comments">
            <ng-template ngbTabContent>
              <app-ja-comments [bEditable]="true" [selectedYear]="selectedYear" [selectedPeriod]="selectedPeriod">
              </app-ja-comments>
            </ng-template>
          </ngb-tab>

          <ngb-tab title="Private Notes">
            <ng-template ngbTabContent>
              <app-private-notes [bEditable]="true" [selectedYear]="selectedYear" [selectedPeriod]="selectedPeriod">
              </app-private-notes>
            </ng-template>
          </ngb-tab>

        </ngb-tabset>
      </div>
    </div>
  </div>
</div>