<div class="card bg-primary">
  <div class="card-header text-white" style="font-size:large">
    Quarterly Report Statuses
  </div>

  <div class="card-body bg-white">
    <span *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</span>
    <span *ngIf="successMessage" class="alert alert-success">{{successMessage}}</span>
    <div>
      <div class="controls">
        <label for="yearSelector">&nbsp;Report Year/Period:</label>
        <select name="yearSelector" [(ngModel)]="selectedYear" (change)="setSelectedYear($event.target.value)">>
          <option *ngFor="let year of years" [value]="year.value">{{year.label}}</option>
        </select>
        <select name="periodSelector" [(ngModel)]="selectedPeriod" (change)="setSelectedPeriod($event.target.value)">
          <option value="0">[Select]</option>
          <option *ngFor="let period of periods" [value]="period.value">{{period.label}}</option>
        </select>

      </div>
    </div>

    <div [ngSwitch]="isLoading">
      <div *ngSwitchCase="true" class="text-center col-md-4 col-md-offset-4">
        <app-loading-container>
        </app-loading-container>
      </div>
      <div *ngSwitchCase="false">
        <table class="table-sm table-striped">
          <thead>
            <tr>
              <!-- <td>Id</td> -->
              <th></th>
              <!-- <th></th> -->
              <th app-sortable-column="studentName" sort-direction="asc" (onSortColumn)="onSortColumn($event)">Student
              </th>
              <th app-sortable-column="studentStatus" (onSortColumn)="onSortColumn($event)">Student Status</th>
              <th app-sortable-column="reviewedStatusId" (onSortColumn)="onSortColumn($event)">QR Status</th>
              <th app-sortable-column="sponsorGroupName" (onSortColumn)="onSortColumn($event)">Sponsor Group</th>
              <th app-sortable-column="highlightStatusId" (onSortColumn)="onSortColumn($event)">Highlight Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let qr of qrMinis, let i = index">

              <!-- <td>
                {{ qr.studentGUId}}
              </td> -->
              <td>
                {{ i+1 }}
              </td>
              <!-- <td>
                <img [src]="qr.photoUrl" height="30" class="thumbnail" />
              </td> -->
              <td (click)='gotoStudent(qr.studentGUId, qr.studentName)'
                  [class.link]="true" [class.red]="qr.reviewedStatusId==2087"
                  [class.alert-success]="qr.highlightStatusId==2106"
                  [class.alert-danger]="qr.highlightStatusId==2105">
                {{ qr.studentName }}
              </td>
              <td>
                {{ qr.studentStatus }}
              </td>

              <td class='centered'>
                <select name="StatusSelector" [(ngModel)]="qr.reviewedStatusId"
                        (change)="setStatusForQR(i, $event.target.value)">
                  <option *ngFor="let status of reviewedStatuses" [value]="status.value">{{status.label}}
                  </option>
                </select>
              </td>
              <td>
                {{ qr.sponsorGroupName }}
              </td>
              <td class='centered'>
                <select name="HighlightSelector" [(ngModel)]="qr.highlightStatusId"
                        (change)="setHighlightStatusForQR(i, $event.target.value)">
                  <option *ngFor="let status of highlightStatuses" [value]="status.value">{{status.label}}
                  </option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>