<div class="card-body bg-white">
  <div class="row" style="border-bottom: 3px solid #ccc; margin-top: 2px;"
       *ngFor="let i of followUpEvents">
    <div class="col-md-12">
      <div class="row" id='{{"id" + i.followUpEventId}}'>
        <span class="padded">
          &nbsp;Date:
          [ {{ i.eventDateTime | truncateDate }} ]
        </span>
        <span class="padded">
          &nbsp;Request Status:
          [{{ i.requestStatus }}]
        </span>
        <span class="padded">
            &nbsp;Assigned To:
            [{{ i.assignedTo }}]
          </span>

      </div>

      <div class="row">
        <div class="col-md-10" style="border-bottom: 1px solid #ccc;">
          {{ i.comments_English }}
        </div>
        <div class="col-md-10">
          {{ i.comments_Spanish }}
        </div>
      </div>
    </div>
  </div>