<label for='search-string'>Search for Student:</label>
<span style="margin-bottom: 2px; margin-left: 3rem;">
  <span *ngIf="showSearchButton">
    Or:
  </span>
  <span *ngIf="showSearchButton"
        (click)="gotoStudentList()" style="margin-bottom: 2px; margin-left: 1rem;"
        class="btn btn-sm btn-primary">Browse Students
  </span>
</span>
<div class="d-flex justify-content-between">
  <input id='search-string'
         type='text'
         class='form-control'
         [editable]='false'
         [class.is-invalid]="searchFailed"
         [(ngModel)]='studentMiniDTO'
         [ngbTypeahead]='search'
         [inputFormatter]="formatter"
         [resultFormatter]="formatter"
         (input)="onInput()"
         (focus)="onFocus()"
         (selectItem)="onSelect($event)"
         placeholder="Last Name or First Name or Email" />
  <span>
    <button class="btn" style="margin-left:-25px" (click)="onClear()">[X]</button>
  </span>
</div>
<div class="row">
  <span [hidden]="currentGUId=='0000'" style="margin-top: .4rem;margin-left: 1rem;" (click)="gotoStudent()"
        class="link">Student Profile: {{ studentName }}
  </span>
  <br />
  <span [hidden]="currentGUId=='0000'" style="margin-left:1rem;margin-top: .2rem;">
    Email: {{ email }}
  </span>
</div>