<div class="card bg-primary">
  <div class="card-header text-white" style="font-size:large">
    Grade Tracking
  </div>
  <div class="card-body bg-white">
    <span *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</span>
    <span *ngIf="successMessage" class="alert alert-success">{{successMessage}}</span>


    <div [ngSwitch]="isLoading">
      <div *ngSwitchCase="true" class="text-center col-md-4 col-md-offset-4">
        <app-loading-container>
        </app-loading-container>
      </div>
      <div *ngSwitchCase="false">
        <table class="table">

          <thead>
            <tr>
              <!--<td>Id</td>-->
              <td></td>
              <td>Period</td>
              <td>Given Out Date</td>
              <td>Due Date</td>
              <td>Turned-in Date</td>
              <td>Grade Pt Avg</td>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  l