<div [ngSwitch]="loadingState">
  <div *ngSwitchCase="0" class="text-center col-md-12 ">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Please type a few letters of Student's name above.)
  </div>
  <div *ngSwitchCase="1" class="text-center col-md-4 col-md-offset-4">
    <app-loading-container>
    </app-loading-container>
  </div>
  <div *ngSwitchCase="2">
    <div class="row">
      <div class="col-12">

        <!-- <label>Name</label>
        {{ student.studentName }}
        <br /> -->
        <label>Year Joined JA:</label>
        {{student.yearJoinedJa}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label>Grad Year/Month:</label>
        {{student.gradYear}} / {{student.gradMonth}}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label>Major:</label>
        {{student.major}}
        <br />
        <label>University:</label>
        {{student.universityName}}
        <br />
        <label>Mentor Name:</label>
        {{student.mentorName}}
        <br />
        <label>Sponsor Name:</label>
        {{student.sponsorGroupName}}
      </div>
    </div>
  </div>
</div>