<nav>
  <a [routerLinkActive]="['active']" [routerLink]="['/admins']" [routerLinkActiveOptions]="{ exact: true }">Data</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/admins/students']">Students</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/admins/members']">Members</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/admins/sponsor-groups']" data-cy="admins-sponsors" >Sponsors</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/admins/mentor-reports/mr-container']">MentorRpts</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/admins/student-reports/ssr-container']">StudentRpts</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/admins/follow-up/requests']">FollowUp</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/admins/universities']">Uni</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/admins/utilities']">Utilities</a>
</nav>