<nav>
  <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/admins']">Welcome</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/admins/students']">Students</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/admins/members']">Members</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/admins/sponsor-groups']">Sponsors</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/admins/mentor-reports/summary-tracking']">MentorRpts</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/admins/self-reports/tracking']">StudentRpts</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/admins/reports']">Misc Rpts</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/admins/follow-up-requests']">FollowUpReqs</a>
  <span class="pull-right"><a href="https://forum.jovenesadelante.org" target="blank">Forum>></a></span>
</nav>