<nav>
  <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/admins']">Welcome</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/admins/students']">Students</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/admins/members']">Members</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/admins/sponsor-groups']">Sponsor Groups</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/admins/mentor-reports/summary-tracking']">MentorReport Review</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/admins/self-reports/tracking']">StudentReport Review</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/admins/follow-up-requests']">Follow-Up Requests</a>
  <span class="pull-right"><a href="https://forum.jovenesadelante.org" target="blank">Forum>></a></span>
</nav>