<div class="container">
  <div class="row">
    Welcome to the Privada website for Jovenes Adelante Admins
  </div>

  <div class="row">
    <div id="container_mr" class="col-sm-12" style="height: 330px">
      <whse-mr></whse-mr>
    </div>
    <div id="container_ssr" class="col-sm-12" style="height: 330px">
      <whse-ssr></whse-ssr>
    </div>
    <div id="container_sg" class="col-sm-6" style="height: 330px">
      <whse-sg></whse-sg>
    </div>
    <div id="container_ss" class="col-sm-6" style="height: 330px">
      <whse-ss></whse-ss>
    </div>
    <div id="container_su" class="col-sm-12" style="height: 330px">
      <whse-su></whse-su>
    </div>

  </div>
</div>
