<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
	  <customErrors mode="On" defaultRedirect="/index.html">
		  <error statusCode="404" redirect="/index.html"/>
	  </customErrors>
  </system.web>
	<system.webServer>

        <rewrite>
        <rules>
        <clear/>

        <!-- ignore static files -->
        <rule name="AngularJS Conditions" stopProcessing="true">
        <match url="(assets/.*|main.*.js|1.*.js|2.*.js|3.*.js|4.*.js|5.*.js|common.*.Js|polyfills.*.js|styles.*.js|runtime.*.js)"/>
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
        <action type="None"/>
        </rule>

         <!--remaining all other url's point to index.html file -->
        <rule name="AngularJS Wildcard" enabled="true">
        <match url="(.*)"/>
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
        <action type="Rewrite" url="index.html"/>
        </rule>

        <rule name="HTTPS to HTTP redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="http://{HTTP_HOST}/{R:1}" />
        </rule>

        </rules>
        </rewrite>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    <httpCompression>
      <dynamicTypes>
        <clear/>
        <add enabled="true" mimeType="text/*"/>
        <add enabled="true" mimeType="message/*"/>
        <add enabled="true" mimeType="application/x-javascript"/>
        <add enabled="true" mimeType="application/javascript"/>
        <add enabled="true" mimeType="application/json"/>
        <add enabled="false" mimeType="*/*"/>
        <add enabled="true" mimeType="application/atom+xml"/>
        <add enabled="true" mimeType="application/atom+xml;charset=utf-8"/>
      </dynamicTypes>
      <staticTypes>
        <clear/>
        <add enabled="true" mimeType="text/*"/>
        <add enabled="true" mimeType="message/*"/>
        <add enabled="true" mimeType="application/javascript"/>
        <add enabled="true" mimeType="application/atom+xml"/>
        <add enabled="true" mimeType="application/xaml+xml"/>
        <add enabled="true" mimeType="application/json"/>
        <add enabled="false" mimeType="*/*"/>
      </staticTypes>
    </httpCompression>

	</system.webServer>
</configuration>
