<form [formGroup]="myForm">

  <table class="table-sm table-striped">
    <tbody>
      <tr>
        <td>
          <input formControlName="gradesGivenDate" type="text" class="form-control form-control-sm" />
        </td>
        <td>
          <input formControlName="gradesDueDate" type="text" class="form-control form-control-sm" />
        </td>
        <td>
          <input formControlName="gradesTurnedInDate" type="text" class="form-control form-control-sm" />
        </td>
        <td>
          <input formControlName="gradePointAvg" type="text" class="form-control form-control-sm" />
        </td>
        <td>
          <input formControlName="gradesTurnedInException" type="text" class="form-control form-control-sm" />
        </td>
        <td>
          <input formControlName="gradePointAvgException" type="text" class="form-control form-control-sm" />
        </td>

      </tr>
    </tbody>
  </table>
</form>