<div class="panel panel-primary">
  <div class="panel-heading" style="font-size:large">
    <span>Grade History for</span>
    <span>{{studentName}}</span>
    <span>
      <span >
        <span class="btn btn-default active" (click)="location.back()" style="width:170px;margin-left:10px">
            Back to Student
      </span>
      </span>
    </span>
  </div>

  This report will be available at a future date.

  <!--<div class="panel-body">

    <div class="row" style="border-bottom: 3px solid #ccc; margin-top: 2px;" *ngFor="let i of gradeHistory">
      <div class="col-md-12">
        <div class="row">
          <span class="padded">
            &nbsp;Student Snapshot:
            <img src="{{smileys[i.mentorReportSnapshot+1]}}" width="24px" />
          </span>
        </div>
      </div>
    </div>
  </div>-->
</div>
