<div class="card bg-primary">
  <div class="card-header text-white" style="font-size:large">
    Members by Type
  </div>
  <div class="card-body bg-white">
    <span *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</span>
    <span *ngIf="successMessage" class="alert alert-success">{{successMessage}}</span>

    <div>
      <form>
        <label for="TypeSelector">Type:</label>
        <select name="TypeSelector" [(ngModel)]="selectedType">
          <option *ngFor="let type of types" [ngValue]="type">{{type.label}}</option>
        </select>
        &nbsp;
        <label for="StatusSelector">Status:</label>
        <select name="StatusSelector" [(ngModel)]="selectedStatus">
            <option *ngFor="let status of statuses" [ngValue]="status">{{status.label}}</option>
        </select>
      </form>



    </div>
    <div [ngSwitch]="isLoading">
      <div *ngSwitchCase="true" class="text-center col-md-4 col-md-offset-4">
        <app-loading-container>
        </app-loading-container>
      </div>
      <div *ngSwitchCase="false">
        <table appSortableTable class="table-sm table-striped">

          <thead>
            <tr>
              <!--<th app-sortable-column="mentorName" (onSortColumn)="onSortColumn($event)">Id</th>-->
              <th></th>
              <th app-sortable-column="memberName" (onSortColumn)="onSortColumn($event)">Member</th>
              <th app-sortable-column="memberStatus" (onSortColumn)="onSortColumn($event)">Member Status</th>
              <th app-sortable-column="email" (onSortColumn)="onSortColumn($event)">Email</th>
              <th app-sortable-column="relatedStudentName" (onSortColumn)="onSortColumn($event)">Related Student</th>
              <th app-sortable-column="relatedStudentStatus" (onSortColumn)="onSortColumn($event)" >Student Status</th>
              <!-- <th app-sortable-column="mentorName" (onSortColumn)="onSortColumn($event)">Communication History</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let member of members, let i = index">
              <td>
                {{ i+1 }}
              </td>
              <td (click)='gotoMember(member.memberId, member.firstNames + " " + member.lastNames)' class='link' >
                {{ member.lastNames }}, {{ member.firstNames }}
              </td>
              <td >
                {{member.memberStatus}}
              </td>
              <td >
                <a href='mailto:{{ member.email }}'>{{ member.email }}</a>
              </td>
              <td (click)='gotoStudent(member.relatedStudentId, member.relatedStudentName)' class='link'>
                {{ member.relatedStudentName }}
              </td>
              <td>
                {{member.relatedStudentStatus}}
              </td>
              <!-- <td (click)='gotoCommunications(member.memberId, member.firstNames + " " + member.lastNames)' class='link' >
                Communication History
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  l
