<div class="panel panel-primary">
  <div class="panel-heading" style="font-size:large">
    Monthly Report for {{ studentName }}
  </div>
  <div class="panel-body">
    <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
    <div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>
    <div>
      <span>(Click on [Request Assistance] above for any situation that needs follow-up by Jovenes Adelante
        administration.)
        <br />(Haga clic en [Solicitar Asistencia] arriba para cualquier situación que necesite seguimiento por Jovenes
        Adelante administración.)
      </span>
    </div>
    <form [formGroup]="myForm">
      <fieldset [disabled]="submitted">

        <div class="form-group">
          <div class="controls">
            <label for="lastContactYearSelector"> Year/Month you Last Communicated with Student<br />Año/Mes la última
              vez que se comunicó con el estudiante&nbsp;</label>
            <select formControlName="lastContactYearSelector">
              <option *ngFor="let year of contactYears" [value]="year.value">{{year.label}}</option>
            </select>
            <span *ngIf="!lastYearCtl.valid &amp;&amp; lastYearCtl.touched" class="red"> Select Year</span>

            <select formControlName="lastContactMonthSelector">
              <option *ngFor="let month of contactMonths" [value]="month.value">{{month.label}}</option>
            </select>
            <span *ngIf="!lastMonthCtl.valid &amp;&amp; lastMonthCtl.touched" class="red">Select Month</span>
          </div>
        </div>

        <div class="form-group">

            <div class="controls">
                <span> Student Emoji: (How are things going overall with the student?)<br />Emoji de Estudiante: (cómo van
              las cosas en general con el estudiante?)</span>>
                <label>&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="radio" id="inputEmoji"
                         formControlName="inputEmoji"
                     [checked]="emojiCtl.value==1"
                     value=1>
                  <img src="/assets/images/celebrate.jpg" width="32px" />
                  Celebrar
                </label>
                <label>&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="radio" id="inputEmoji"
                         formControlName="inputEmoji"
                     [checked]="emojiCtl.value==0"
                     value=0>
                  <img src="/assets/images/thumbsUp.jpg" width="30px" />
                  Todo Bien
                </label>
                <label>&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="radio" id="inputEmoji"
                         formControlName="inputEmoji"
                     [checked]="emojiCtl.value==-1"
                     value=-1>
                  <img src="/assets/images/needsAttention.jpg" width="30px" />
                  Problemas
              <span *ngIf="emojiCtl.hasError('required')" class="red">Please select a Snapshot color</span>
                </label>
              </div>


        </div>
        <div hidden class="controls">
          <label for="mentorReportId">Id</label>
          <textarea id="mentorReportId"
                    formControlName="mentorReportId"
                    type="text"
                    class="form-control input-sm">
          </textarea>
        </div>

        <div class="controls">
          <label for="inputNarrative_English">Describe positive events or special challenges in the student's life
            during the past month<br />Describa logros y eventos positivos o obstáculos en la vida del
            estudiante</label>
          <textarea id="inputNarrative_English" #success formControlName="inputNarrative_English"
                    type="text"

                    class="form-control input-sm" placeholder="">
          </textarea>
          <app-display-errors control="inputNarrative_English" class="red"
                              [errors]="{'required': 'An entry is required, even if it is just N/A. Se requiere una entrada, aun si es sólo N/A.',
          'maxlength': 'Entry cannot exceed 4000 characters in length.<br />La entrada no puede exceder 4000 caracteres del largo.'
                }"></app-display-errors>
        </div>

        <div class="col-md-6 col-md-offset-1">
          <span>
            <button class="btn btn-primary"
                    style="width:80px;margin-right:10px"
                    (click)="onSubmit()">
              Submit
            </button>
          </span>&nbsp;
          <span>
            <button type="button"
                    class="btn btn-default"
                    style="width:70px"
                    (click)="onCancel()">
              Cancel
            </button>
            <div class="red" [hidden]="myForm.valid">Year, Month, Emoji and description must be
              filled in before saving.<br />Año, mes, Emoji y descripción rellenarse antes de guardar.</div>
          </span>
        </div>
      </fieldset>
    </form>
  </div>
</div>