<nav
     class="navbar navbar-expand-sm bg-primary navbar-dark fixedbar">


  <a class="navbar-brand" href="#"><img src="../../../assets/images/JAPrivadaLogo.png" /></a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['']">Home</a>
    </li>
    <li class="nav-item">
      <a [routerLinkActive]="['active']" [routerLink]="['admins']" [hidden]=!isAdminWithValidToken()>Admins</a>
    </li>
    <li class="nav-item">
      <a [routerLinkActive]="['active']" [routerLink]="['mentors']" [hidden]=!isMentorWithValidToken()>Mentors</a>
    </li>
    <li class="nav-item">
      <a [routerLinkActive]="['active']" [routerLink]="['sponsors/home']"
         [hidden]=!isSponsorWithValidToken()>Sponsors</a>
    </li>
    <li class="nav-item">
      <a [routerLinkActive]="['active']" [routerLink]="['students']" [hidden]=!isStudentWithValidToken()>Estudiantes</a>
    </li>
    <li class="nav-item">
      <a [routerLinkActive]="['active']" [routerLink]="['confidential']"
         [hidden]=!isAdminWithValidToken()>Confidential</a>
    </li>
    <li class="nav-item">
      <a [routerLinkActive]="['active']" [routerLink]="['quarterly']" [hidden]=!isAdminWithValidToken()>Quarterly</a>
    </li>
  </ul>
  <div class="navbar-text ml-auto">
    <section id="login">
      <button class="btn btn-primary btn-sm" (click)="auth.login()" *ngIf="!auth.loggedIn">Log In / Iniciar
        sesión</button>
      <span *ngIf="auth.loggedIn">Welcome {{auth.nickname}} <br /></span>
      <span class="link" (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</span>
    </section>
  </div>
</nav>