<div class="btn btn-primary btn-xs"
(click)="location.back()">
Back
</div>
<div>&nbsp;</div>

<div *ngIf="errorMessage" class="alert alert-danger">
  {{errorMessage}}</div>

<div [ngSwitch]="isLoading">
  <div *ngSwitchCase="true" class="text-center col-md-4 col-md-offset-4">
    <app-loading-container>
    </app-loading-container>
  </div>
  <div *ngSwitchCase="false">
    <div *ngIf="!errorMessage" class="panel panel-primary">
      <div class="panel-heading" style="font-size:large">
        <span>Past Reports for </span>
        <span>{{studentName}}</span>
        <span>
        </span>
      </div>
      <app-mentor-reports2-list [mentorReports2]="mentorReports"></app-mentor-reports2-list>
    </div>
  </div>
</div>