<div class="card bg-primary">
  <div class="card-header text-white" style="font-size:large">
    <span>Ingresa su Promedio para este periodo</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </div>

  <div class="card-body bg-white">
    <span *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</span>
    <span *ngIf="successMessage" class="alert alert-success">{{successMessage}}</span>

    <div>

      <div [ngSwitch]="isLoading">
        <div *ngSwitchCase="true" class="text-center col-md-4 col-md-offset-4">
          <app-loading-container>
          </app-loading-container>
        </div>
        <div *ngSwitchCase="false">
          <form [formGroup]="myForm">
            

            <h6 style="color:black;"><b>Paso 1: </b>Ingresa tu promedio en la casilla correspondiente y da clic en Guardar. </h6>
            <br>
            <h6 style="color:black;">Una vez que el equipo de Jovenes Adelante lo revise, aparecerá la fecha en que se confirmó.</h6>
            <br>

            <table class="table-sm table-striped">
              <thead>
                <tr>
                  <!--<td>Id</td>-->
                  <!-- <th></th> -->
                  <!-- <th app-sortable-column="studentName" sort-direFstudentIDion="asc" (onSortColumn)="onSortColumn($event)">Student
                </th>
                <th app-sortable-column="univ" (onSortColumn)="onSortColumn($event)">Univ</th> -->
                  <!-- <th app-sortable-column="academicYear" (onSortColumn)="onSortColumn($event)">YearType</th> -->
                  <!-- <th app-sortable-column="year" (onSortColumn)="onSortColumn($event)">Year</th> -->
                  <!-- <th app-sortable-column="periodNumber" (onSortColumn)="onSortColumn($event)">Period</th> -->
                  <th>Fin de Periodo</th>
                  <th>Fecha Límite</th>
                  <th>Fecha de Hoy</th>
                  <th>Promedio</th>
                  <th>Fecha Confirmado</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>

                <tr formArrayName="gradeEntryRows"
                    *ngFor="let entry of studentGradesData, let i = index">
                  <ng-container [formGroupName]="i">
                    <!-- <td>
                        {{ i+1 }}
                      </td> -->
                    <!-- <td>
                  <app-grade-row [entry]="entry">

                  </app-grade-row>
                </td> -->


                    <!-- <td (click)='gotoStudent(entry.studentGUId, entry.studentName)' class='link'>
                  {{ entry.studentName }}
                </td>
                <td>
                  {{ entry.univ }}
                </td> -->
                    <!-- <td>
                {{  entry.academicYear }}
              </td> -->
                    <!-- <td>
                  <input formControlName="gradeMonths"
                         class="form-control form-control-sm" type="text" />
                </td> -->
                    <!-- <td>
                {{ entry.year }}
              </td> -->
                    <!-- <td>
                {{ entry.periodNumber }}
              </td> -->
                    <td>
                      <input formControlName="gradesGivenDate"
                             class="form-control form-control-sm" type="text" size="8" />
                    </td>
                    <td>
                      <input formControlName="gradesDueDate"
                             class="form-control form-control-sm" type="text" size="8" />
                    </td>
                    <td>
                      <input formControlName="gradesTurnedInDate"
                             (dblclick)="setReceivedDate(i, $event.target.value)"
                             class="form-control form-control-sm" type="text" size="8" />
                    </td>
                    <td>
                      <input formControlName="gradePointAvg"
                             class="form-control form-control-sm" type="text" size="4" />
                    </td>
                    <td>
                      <input formControlName="confirmedDate"
                             class="form-control form-control-sm" type="text" size="8" />
                    </td>
                    <!-- <td>
                      <button (click)="saveEntry(i)">Save</button>
                    </td> -->
                    <td *ngIf="isRowDirty(i)">
                      +-+
                    </td>
                    <td *ngIf="!isRowDirty(i)">

                    </td>
                  </ng-container>
                  <p style="text-align: right;">
                    <button [disabled]="myForm.pristine"
                        type="submit"
                        class="btn btn-primary"
                        (click)="saveAllChangedEntries()">Guardar</button>
              </p>
                </tr>
                
              </tbody>
            </table>            
          </form>

          <div>
            <hr color="#0f5faf">
            <h6 style="color:black;"><b>Paso 2: </b>Sube tu reporte de calificaciones en el recuadro</h6>
            <br>
            <h6 style="color:black;">En el siguiente apartado podrás subir la captura de tu informe de calificaciones. Asegúrate de que tu archivo sea en formato <mark style="color:#05579E; background-color:powderblue;"> PNG</mark>.</h6>
            <h6 style="color:black;">Si tu archivo no termina con la extensión PNG, puedes convertirlo en línea dando clic <a href="https://imagen.online-convert.com/es/convertir-a-png" target="_blank">aquí</a>. Es una página que te brindamos para que puedas convertirlo al formato requerido.</h6>
            <h6 style="color:black;">Al arrastrar o seleccionar tu archivo, este se cargará y su nombre se mostrará debajo del recuadro. Hecho esto, tu archivo estará cargado y listo para revisión.</h6>
            <br>
            <app-file-uploader></app-file-uploader>
          </div>


          <!-- <br />Dirty: {{ myForm.dirty }}
          <br />Pristine: {{ myForm.pristine }}
          <br />Touched: {{ myForm.touched }}
          <br />Valid: {{ myForm.valid }} -->
        </div>