<div class="col">
  <div class="card bg-primary">
    <div class="card-header text-white">
      <span style="font-size:large">
        Student Quarterly Reports
      </span>
      <span style="margin-left:10rem">
        Report Year-Period:
        <select name="activePeriodSelector" [(ngModel)]="selectedQRPeriod"
                (change)="setselectedQRPeriod($event.target.value)">>
          <option *ngFor="let yearPeriod of activeQRPeriods" [value]="yearPeriod.value">{{yearPeriod.label}}</option>
        </select>
      </span>
    </div>
    <div class="card-body bg-white">
      <app-self-reports>
      </app-self-reports>
    </div>
  </div>